@import '../../mixin';
.mail-solid.icon {
  &:before {
    @include pseudo();
    left: 7px;
    top: -4px;
    width: 1px;
    height: 10px;
    color: white;
    background-color: currentColor;
    transform-origin: bottom;
    transform: rotate(-54deg);
  }
}
