@import "https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700";
body {
  font-family: "futura-pt", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.viewerWrapper {
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  font-size: 16px;
  color: black;
  line-height: 22px;
}
.viewerWrapper .iconLabel {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: black;
  line-height: 30px;
  text-align: center;
}
.viewerWrapper .buttonCodepen {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: black;
  line-height: 38px;
  text-align: center;
}
.viewerWrapper h4 {
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 25px;
}
.viewerWrapper xmp {
  font-weight: 400;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
}

.searchWrapper input.search {
  color: black;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

body {
  box-sizing: border-box;
  margin: 0;
}

button {
  outline: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.container .viewer {
  display: none;
}
.container.viewerOpen .icons {
  width: 63.25757576%;
}
.container.viewerOpen .icons .iconWrapper.selected {
  border-color: #3CD5FF;
}
.container.viewerOpen .icons .iconWrapper.selected .icon {
  color: #3CD5FF;
}
.container.viewerOpen .icons .icon.selected {
  color: #3CD5FF;
}
.container.viewerOpen .viewer {
  display: block;
}
.container.viewerOpen.letterIconViewerOpen .viewerWrapper .iconViewer .icon {
  margin: 0 auto;
  position: relative;
}
.container.viewerOpen.letterIconViewerOpen .viewerWrapper .iconWrapper {
  border: none;
  padding: 0;
}
.container.viewerOpen.letterIconViewerOpen .viewerWrapper .iconWrapperBig {
  height: 90px;
  width: auto;
  text-align: center;
}
.container.viewerOpen.letterIconViewerOpen .viewerWrapper .iconWrapperBig .scale {
  -webkit-transform: scale(3);
          transform: scale(3);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.icons {
  width: 100%;
  height: 100%;
  float: left;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 20px 15px 20px 20px;
  text-align: justify;
  box-sizing: border-box;
  font-size: 0;
  position: relative;
}
.icons .iconWrapper {
  display: inline-block;
  width: 75px;
  height: 75px;
  padding: 26px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-radius: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: border-color 0.4s ease-out;
          transition: border-color 0.4s ease-out;
}
.icons .iconWrapper:hover {
  border-color: #3CD5FF;
  -webkit-transition: none;
          transition: none;
}
.icons .iconWrapper.iconWrapperHidden {
  visibility: hidden;
  height: 0px;
  border: none;
  padding: 0;
}
.icons .info {
  max-width: 600px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin: 40px auto 0 auto;
}
.icons .info a {
  color: black;
  text-decoration: underline;
}
.icons .about {
  display: block;
  width: 100%;
  float: left;
  margin-top: 50px;
}
.icons .about a {
  font-size: 16px;
  font-weight: 700;
  color: black;
  line-height: 16px;
  display: block;
  float: left;
  width: 25%;
  text-decoration: none;
  text-align: center;
}
.icons .about a i {
  display: block;
  height: 40px;
  margin-bottom: 8px;
}
.icons .about a:hover {
  text-decoration: underline;
}
.icons .about .me i {
  background: url(../images/w.svg) no-repeat center bottom;
}
.icons .about .github i {
  background: url(../images/github.svg) no-repeat center bottom;
}
.icons .about .facebook i {
  background: url(../images/facebook.svg) no-repeat center bottom;
}
.icons .about .twitter i {
  background: url(../images/twitter.svg) no-repeat center bottom;
}

.viewer {
  width: 36.74242424%;
  height: 100%;
  float: right;
  box-sizing: border-box;
  position: relative;
}
.viewer .buttonClose {
  position: absolute;
  right: 10px;
  top: 41px;
  width: 21px;
  height: 21px;
  background-color: white;
  z-index: 9;
  cursor: pointer;
}
.viewer .buttonClose:before, .viewer .buttonClose:after {
  content: "";
  position: absolute;
  display: block;
  width: 29px;
  height: 1px;
  left: -4px;
  top: 10px;
  background-color: black;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.viewer .buttonClose:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.viewer .buttonClose:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.viewer .viewerWrapper {
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-radius: 0;
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 0;
  right: 20px;
  margin: 0;
  padding: 20px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.viewer .viewerWrapper .iconWrapper {
  position: absolute;
  width: 21px;
  height: 21px;
  padding: 8px;
  border: solid 1px #ccc;
}
.viewer .viewerWrapper .iconWrapperBig {
  width: 84px;
  height: 84px;
  padding: 20px;
  margin: 40px auto 0 auto;
}
.viewer .viewerWrapper .iconWrapperBig .scale {
  -webkit-transform: scale(4);
          transform: scale(4);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  display: inline-block;
}
.viewer .viewerWrapper .iconLabel {
  margin-bottom: 30px;
}
.viewer .viewerWrapper .buttonCodepen {
  display: block;
  border: solid 1px black;
  border-radius: 0;
  margin-bottom: 30px;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  width: 100%;
}
.viewer .viewerWrapper .buttonCodepen svg {
  margin-left: 3px;
  position: relative;
  top: 6px;
}
.viewer .viewerWrapper .buttonCodepen:hover {
  background-color: black;
  color: white;
}
.viewer .viewerWrapper .buttonCodepen:hover svg path {
  fill: white;
}
.viewer .viewerWrapper h4 .buttonCopy {
  float: right;
  cursor: pointer;
  min-width: 56px;
  height: 22px;
  position: relative;
}
.viewer .viewerWrapper h4 .buttonCopy .copy.icon {
  position: absolute;
  top: 6px;
  right: 0;
}
.viewer .viewerWrapper h4 .buttonCopy.copied::after {
  content: "copied";
}
.viewer .viewerWrapper h4 .buttonCopy::after {
  content: "copy";
  font-weight: 400;
  margin-right: 20px;
  display: none;
}
.viewer .viewerWrapper h4 .buttonCopy:hover::after {
  display: block;
}

.logo {
  display: block;
  width: 100%;
  height: 30px;
  margin: 30px 0 50px 0;
}
.logo .icon {
  cursor: pointer;
  float: left;
}
.logo .icon.C {
  position: relative;
}
.logo .icon.S {
  position: relative;
  margin-right: 6px;
}
.logo .icon.I {
  position: relative;
  margin-left: 18px;
  margin-right: 6px;
}
.logo .icon.O {
  position: relative;
  margin-right: 6px;
}
.logo .icon.N {
  position: relative;
}
.logo .icon:hover {
  color: #3CD5FF;
}

.searchWrapper {
  width: 250px;
  position: absolute;
  right: 20px;
  top: 39px;
  box-sizing: border-box;
}
.searchWrapper input.search {
  background: transparent;
  border: 0;
  width: 100%;
  border-bottom: solid 1px black;
  padding: 9px 0 7px 0;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
}
.searchWrapper ::-webkit-input-placeholder {
  color: black;
}
.searchWrapper :-moz-placeholder {
  color: black;
}
.searchWrapper ::-moz-placeholder {
  color: black;
}
.searchWrapper :-ms-input-placeholder {
  color: black;
}
.searchWrapper .search.icon {
  display: none;
  position: absolute;
  top: 11px;
  right: 4px;
}
.searchWrapper button.close.icon {
  display: none;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 0;
}
.searchWrapper input.search:not(:valid) ~ .close.icon {
  display: none;
}
.searchWrapper input.search:not(:valid) ~ .search.icon {
  display: block;
}

@media only screen and (min-width: 640px) and (max-width: 900px) {
  .container.viewerOpen .logo {
    margin-bottom: 20px;
  }
  .container.viewerOpen .searchWrapper {
    width: auto;
    position: relative;
    right: inherit;
    top: inherit;
    margin-right: 5px;
    margin-bottom: 40px;
  }
  .container.viewerOpen .icons .about {
    margin-top: 30px;
  }
  .container.viewerOpen .icons .about a {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .container.viewerOpen .icons {
    width: calc( 100% - 365px);
  }
  .container.viewerOpen .viewer {
    width: 365px;
  }
}
@media only screen and (max-width: 639px) {
  .icons {
    width: 100%;
  }

  .icons .about {
    margin-top: 30px;
  }
  .icons .about a {
    width: 100%;
    margin-bottom: 20px;
  }

  .viewer {
    width: auto;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
  }
  .viewer .buttonClose {
    right: 5px;
    top: 40px;
    width: 31px;
    height: 31px;
  }
  .viewer .buttonClose:before, .viewer .buttonClose:after {
    width: 41px;
    left: -5px;
    top: 15px;
  }
  .viewer .viewerWrapper {
    left: 20px;
  }

  .logo {
    margin-bottom: 20px;
  }

  .searchWrapper {
    width: auto;
    position: relative;
    right: inherit;
    top: inherit;
    margin-right: 5px;
    margin-bottom: 40px;
  }
}
.copy.icon {
  width: 8px;
  height: 11px;
  border: solid 1px black;
  border-radius: 1px;
  position: relative;
}
.copy.icon:before {
  content: "";
  display: block;
  position: absolute;
  left: -3px;
  top: -3px;
  width: 8px;
  height: 11px;
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-radius: 1px 0 0 0;
}

.search.icon {
  width: 12px;
  height: 12px;
  border: solid 1px black;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
}
.search.icon:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 5px;
  height: 6px;
  width: 1px;
  background-color: black;
}

.close.icon {
  width: 21px;
  height: 21px;
}
.close.icon:before, .close.icon:after {
  content: "";
  display: block;
  width: 21px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close.icon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.I.icon {
  color: #000;
  position: absolute;
  height: 30px;
  width: 4px;
  background-color: currentColor;
}

.C.icon {
  color: #000;
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border-top: solid 4px currentColor;
  border-right: solid 4px transparent;
  border-bottom: solid 4px currentColor;
  border-left: solid 4px currentColor;
}

.S.icon:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  border-radius: 50%;
  border-top: solid 4px currentColor;
  border-right: solid 4px transparent;
  border-bottom: solid 4px currentColor;
  border-left: solid 4px currentColor;
}

.S.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 0;
  width: 8px;
  height: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 50%;
  border-top: solid 4px currentColor;
  border-right: solid 4px transparent;
  border-bottom: solid 4px currentColor;
  border-left: solid 4px currentColor;
}

.S.icon {
  color: #000;
  position: absolute;
  width: 18px;
  height: 30px;
}

.O.icon {
  color: #000;
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: solid 4px currentColor;
}

.N.icon:before {
  content: '';
  position: absolute;
  left: -4px;
  width: 4px;
  height: 30px;
  background-color: currentColor;
  -webkit-transform: skewX(32.5deg);
          transform: skewX(32.5deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.N.icon {
  color: #000;
  position: absolute;
  width: 15px;
  height: 30px;
  border-left: solid 4px currentColor;
  border-right: solid 4px currentColor;
}

@media screen and (min-height: 550px) {
  .codeBlocks {
    position: absolute;
    top: 289px;
    left: 20px;
    right: 0;
    bottom: 0;
    padding-bottom: 20px;
    padding-right: 20px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .codeBlocks .codeBlockHover {
    cursor: pointer;
  }
  .codeBlocks .codeBlockHover:hover {
    background-color: black;
    color: white;
  }
}
.viewer.cssIconHover .iconViewer {
  /* special cases */
}
.viewer.cssIconHover .iconViewer .icon {
  color: #3CD5FF !important;
}
.viewer.cssIconHover .iconViewer .icon:before,
.viewer.cssIconHover .iconViewer .icon:after,
.viewer.cssIconHover .iconViewer .icon i,
.viewer.cssIconHover .iconViewer .icon i:before,
.viewer.cssIconHover .iconViewer .icon i:after,
.viewer.cssIconHover .iconViewer [class*="-solid"]:before,
.viewer.cssIconHover .iconViewer [class*="-solid"]:after {
  color: black;
}
.viewer.cssIconHover .iconViewer [class*="-solid"] i,
.viewer.cssIconHover .iconViewer [class*="-solid"] i:before,
.viewer.cssIconHover .iconViewer [class*="-solid"] i:after {
  color: white;
}
.viewer.cssIconHover .iconViewer .pin-solid.icon:before, .viewer.cssIconHover .iconViewer .pin-solid.icon:after,
.viewer.cssIconHover .iconViewer .stop-solid.icon:before,
.viewer.cssIconHover .iconViewer .stop-solid.icon:after,
.viewer.cssIconHover .iconViewer .clock-solid.icon:before,
.viewer.cssIconHover .iconViewer .clock-solid.icon:after,
.viewer.cssIconHover .iconViewer .clock-h3m30-solid.icon:before,
.viewer.cssIconHover .iconViewer .clock-h3m30-solid.icon:after,
.viewer.cssIconHover .iconViewer .clock-h9m0-solid.icon:before,
.viewer.cssIconHover .iconViewer .clock-h9m0-solid.icon:after,
.viewer.cssIconHover .iconViewer .clock-h9m30-solid.icon:before,
.viewer.cssIconHover .iconViewer .clock-h9m30-solid.icon:after,
.viewer.cssIconHover .iconViewer .mail-solid.icon:before,
.viewer.cssIconHover .iconViewer .mail-solid.icon:after,
.viewer.cssIconHover .iconViewer .card-solid.icon:before,
.viewer.cssIconHover .iconViewer .card-solid.icon:after,
.viewer.cssIconHover .iconViewer .keyboard-solid.icon:before,
.viewer.cssIconHover .iconViewer .keyboard-solid.icon:after,
.viewer.cssIconHover .iconViewer .mouse-solid.icon:before,
.viewer.cssIconHover .iconViewer .mouse-solid.icon:after,
.viewer.cssIconHover .iconViewer .browser-solid.icon:before,
.viewer.cssIconHover .iconViewer .browser-solid.icon:after,
.viewer.cssIconHover .iconViewer .mobile-solid.icon:before,
.viewer.cssIconHover .iconViewer .mobile-solid.icon:after,
.viewer.cssIconHover .iconViewer .target-solid.icon:before,
.viewer.cssIconHover .iconViewer .target-solid.icon:after,
.viewer.cssIconHover .iconViewer .picture-solid.icon:before,
.viewer.cssIconHover .iconViewer .picture-solid.icon:after,
.viewer.cssIconHover .iconViewer .float-solid.icon:before,
.viewer.cssIconHover .iconViewer .float-solid.icon:after,
.viewer.cssIconHover .iconViewer .unamused-solid.icon:before,
.viewer.cssIconHover .iconViewer .unamused-solid.icon:after,
.viewer.cssIconHover .iconViewer .pensive-solid.icon:before,
.viewer.cssIconHover .iconViewer .pensive-solid.icon:after,
.viewer.cssIconHover .iconViewer .smiley-solid.icon:before,
.viewer.cssIconHover .iconViewer .smiley-solid.icon:after,
.viewer.cssIconHover .iconViewer .relieved-smiley-solid.icon:before,
.viewer.cssIconHover .iconViewer .relieved-smiley-solid.icon:after,
.viewer.cssIconHover .iconViewer .sad-solid.icon:before,
.viewer.cssIconHover .iconViewer .sad-solid.icon:after,
.viewer.cssIconHover .iconViewer .smiley-solid.icon:before,
.viewer.cssIconHover .iconViewer .smiley-solid.icon:after,
.viewer.cssIconHover .iconViewer .grin-solid.icon:before,
.viewer.cssIconHover .iconViewer .grin-solid.icon:after,
.viewer.cssIconHover .iconViewer .laugh-solid.icon:before,
.viewer.cssIconHover .iconViewer .laugh-solid.icon:after,
.viewer.cssIconHover .iconViewer .relieved-solid.icon:before,
.viewer.cssIconHover .iconViewer .relieved-solid.icon:after,
.viewer.cssIconHover .iconViewer .tougue-solid.icon:before,
.viewer.cssIconHover .iconViewer .tougue-solid.icon:after,
.viewer.cssIconHover .iconViewer .smile-solid.icon:before,
.viewer.cssIconHover .iconViewer .smile-solid.icon:after {
  color: white;
}
.viewer.cssIconHover .iconViewer .focus.icon:before, .viewer.cssIconHover .iconViewer .focus.icon:after {
  color: white;
}
.viewer.cssIconHover .iconViewer .camera-solid.icon:before,
.viewer.cssIconHover .iconViewer .eye-solid2.icon:before,
.viewer.cssIconHover .iconViewer .eye-solid3.icon:before {
  color: white;
}
.viewer.cssIconHover .iconViewer .tag-solid.icon:after,
.viewer.cssIconHover .iconViewer .battery-solid-0.icon:after,
.viewer.cssIconHover .iconViewer .battery-solid-1.icon:after,
.viewer.cssIconHover .iconViewer .battery-solid.icon:after,
.viewer.cssIconHover .iconViewer .battery-solid-3.icon:after,
.viewer.cssIconHover .iconViewer .suitcase-1.icon:after,
.viewer.cssIconHover .iconViewer .suitcase-3.icon:after,
.viewer.cssIconHover .iconViewer .watch-solid.icon:after,
.viewer.cssIconHover .iconViewer .navigate.icon:after,
.viewer.cssIconHover .iconViewer .navigate i.icon:after,
.viewer.cssIconHover .iconViewer .navigate-solid.icon:after,
.viewer.cssIconHover .iconViewer .tablet-solid.icon:after {
  color: white;
}
.viewer.cssIconHover .iconViewer .mustache.icon i,
.viewer.cssIconHover .iconViewer .mustache.icon i:before,
.viewer.cssIconHover .iconViewer .mustache.icon i:after {
  color: white;
}
.viewer.cssIconHover .iconViewer .left-double-quote-solid i:before,
.viewer.cssIconHover .iconViewer .left-double-quote-solid i:after,
.viewer.cssIconHover .iconViewer .right-double-quote-solid i:before,
.viewer.cssIconHover .iconViewer .right-double-quote-solid i:after {
  color: black;
}

.viewer.cssIconBeforeHover .iconViewer .icon:before {
  color: #3CD5FF !important;
}

.viewer.cssIconAfterHover .iconViewer .icon:after {
  color: #3CD5FF !important;
}

.viewer.cssChildHover .iconViewer .icon i {
  color: #3CD5FF !important;
}
.viewer.cssChildHover .iconViewer .icon i:before,
.viewer.cssChildHover .iconViewer .icon i:after {
  color: black;
}
.viewer.cssChildHover .iconViewer [class*="-solid"] i:before,
.viewer.cssChildHover .iconViewer [class*="-solid"] i:after {
  color: white;
}
.viewer.cssChildHover .iconViewer .mustache.icon i:before,
.viewer.cssChildHover .iconViewer .mustache.icon i:after {
  color: white;
}

.viewer.cssChildBeforeHover .iconViewer .icon i:before {
  color: #3CD5FF !important;
}

.viewer.cssChildAfterHover .iconViewer .icon i:after {
  color: #3CD5FF !important;
}

/*# sourceMappingURL=app.css.map */