body {
  width: 1210px;
  margin: 100px auto; }

footer {
  width: 1110px;
  margin: 50px; }

.logo {
  display: block;
  width: 100%;
  height: 30px;
  margin: 100px 50px 50px 50px; }
  .logo div {
    position: relative;
    float: left; }
    .logo div:before, .logo div:after {
      content: '';
      position: absolute;
      display: block; }
  .logo .c {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border-top: solid 4px #333333;
    border-right: solid 4px transparent;
    border-bottom: solid 4px #333333;
    border-left: solid 4px #333333; }
  .logo .s {
    width: 18px;
    height: 30px;
    margin-right: 6px; }
    .logo .s:before, .logo .s:after {
      border-radius: 50%;
      border-top: solid 4px #333333;
      border-right: solid 4px transparent;
      border-bottom: solid 4px #333333;
      border-left: solid 4px #333333; }
    .logo .s:before {
      margin-left: 1px;
      top: 0;
      width: 8px;
      height: 8px;
      transform: rotate(45deg); }
    .logo .s:after {
      margin-left: 0;
      bottom: 0;
      width: 10px;
      height: 10px;
      transform: rotate(225deg); }
  .logo .i {
    margin-left: 14px;
    margin-right: 6px;
    height: 30px;
    width: 4px;
    background-color: #333333; }
  .logo .o {
    margin-right: 6px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: solid 4px #333333; }
  .logo .n {
    width: 15px;
    height: 30px;
    border-left: solid 4px #333333;
    border-right: solid 4px #333333; }
    .logo .n:before {
      left: -4px;
      width: 4px;
      height: 30px;
      background-color: #333333;
      transform: skewX(32.5deg);
      transform-origin: left top; }

.iconWrapper {
  position: relative;
  overflow: hidden;
  float: left;
  width: 21px;
  height: 21px;
  border-radius: 2px;
  transition: all 0.6s ease;
  background-color: white;
  padding: 50px;
  /* transform: scale(4,4); */ }
  .iconWrapper:hover {
    transition: none;
    cursor: pointer;
    background-color: rgba(51, 51, 51, 0.06); }
  .iconWrapper .search.icon {
    margin-top: 2px;
    margin-left: 3px; }
  .iconWrapper .close.icon {
    margin-top: 0;
    margin-left: 0; }
  .iconWrapper .hamburger.icon {
    margin-left: 2px;
    margin-top: 10px; }
  .iconWrapper .arrowRight.icon {
    margin-left: 2px;
    margin-top: 10px; }
  .iconWrapper .arrowLeft.icon {
    margin-left: 3px;
    margin-top: 10px; }
  .iconWrapper .trash.icon {
    margin-left: 5px;
    margin-top: 7px; }
  .iconWrapper .audio.icon {
    margin-left: 5px;
    margin-top: 8px; }
  .iconWrapper .pin.icon {
    margin-left: 4px;
    margin-top: 2px; }
  .iconWrapper .raindrop.icon {
    margin-left: 5px;
    margin-top: 5px; }
  .iconWrapper .stop.icon {
    margin-left: 2px;
    margin-top: 2px; }
  .iconWrapper .clock.icon {
    margin-left: 2px;
    margin-top: 2px; }
  .iconWrapper .profile.icon {
    margin-left: 3px;
    margin-top: 11px; }
  .iconWrapper .bell.icon {
    margin-left: 5px;
    margin-top: 2px; }
  .iconWrapper .heart.icon {
    margin-top: 6px;
    margin-left: 5px; }
  .iconWrapper .print.icon {
    margin-left: 2px;
    margin-top: 5px; }
  .iconWrapper .edit.icon {
    margin-left: 4px;
    margin-top: 7px; }
  .iconWrapper .link.icon {
    margin-left: 8px;
    margin-top: 10px; }
  .iconWrapper .map.icon {
    margin-left: 8px;
    margin-top: 4px; }
  .iconWrapper .mail.icon {
    margin-left: 2px;
    margin-top: 4px; }
  .iconWrapper .bookmark.icon {
    margin-left: 5px;
    margin-top: 3px; }
  .iconWrapper .camera.icon {
    margin-left: 2px;
    margin-top: 5px; }
  .iconWrapper .focus.icon {
    margin-left: 2px;
    margin-top: 2px; }
  .iconWrapper .card.icon {
    margin-left: 2px;
    margin-top: 4px; }
  .iconWrapper .volume.icon {
    margin-left: 11px;
    margin-top: 3px; }
  .iconWrapper .lock.icon {
    margin-left: 3px;
    margin-top: 10px; }
  .iconWrapper .code.icon {
    margin-left: 3px;
    margin-top: 6px; }
  .iconWrapper .flag.icon {
    margin-left: 6px;
    margin-top: 4px; }
  .iconWrapper .tag.icon {
    margin-left: 4px;
    margin-top: 3px; }
  .iconWrapper .signal.icon {
    margin-left: 7px;
    margin-top: 13px; }
  .iconWrapper .moon.icon {
    margin-left: 4px;
    margin-top: 2px; }
  .iconWrapper .sun.icon {
    margin-left: 6px;
    margin-top: 6px; }
  .iconWrapper .shutdown.icon {
    margin-top: 3px;
    margin-left: 3px; }
  .iconWrapper .export.icon {
    margin-left: 4px;
    margin-top: 7px; }
  .iconWrapper .download.icon {
    margin-left: 4px;
    margin-top: 5px; }
  .iconWrapper .upload.icon {
    margin-left: 4px;
    margin-top: 3px; }
  .iconWrapper .shut.icon {
    margin-top: 4px;
    margin-left: 4px; }
  .iconWrapper .chat.icon {
    margin-left: 2px;
    margin-top: 4px; }
  .iconWrapper .key.icon {
    margin-left: 1px;
    margin-top: 6px; }
  .iconWrapper .key2.icon {
    margin-left: 10px;
    margin-top: 2px; }
  .iconWrapper .refresh.icon {
    margin-left: 4px;
    margin-top: 3px; }
  .iconWrapper .umbrella.icon {
    margin-left: 3px;
    margin-top: 2px; }
  .iconWrapper .thermometer.icon {
    margin-left: 7px;
    margin-top: 11px; }
  .iconWrapper .pilcrow.icon {
    margin-left: 4px;
    margin-top: 2px; }
  .iconWrapper .justified.icon {
    margin-left: 2px;
    margin-top: 6px; }
  .iconWrapper .leftaligned.icon {
    margin-left: 2px;
    margin-top: 6px; }
  .iconWrapper .centered.icon {
    margin-left: 2px;
    margin-top: 6px; }
  .iconWrapper .rightaligned.icon {
    margin-left: 2px;
    margin-top: 6px; }
  .iconWrapper .indent.icon {
    margin-left: 2px;
    margin-top: 6px; }
  .iconWrapper .outdent.icon {
    margin-left: 2px;
    margin-top: 6px; }
  .iconWrapper .anchor.icon {
    margin-left: 2px;
    margin-top: 10px; }
  .iconWrapper .browser.icon {
    margin-left: 2px;
    margin-top: 2px; }
  .iconWrapper .tv.icon {
    margin-left: 2px;
    margin-top: 3px; }
  .iconWrapper .watch.icon {
    margin-left: 7px;
    margin-top: 0px; }
  .iconWrapper .navigate.icon {
    margin-left: 6px;
    margin-top: -1px; }
  .iconWrapper .float.icon {
    margin-left: 2px;
    margin-top: 2px; }
  .iconWrapper .mouse.icon {
    margin-left: 4px;
    margin-top: 1px; }
  .iconWrapper .keyboard.icon {
    margin-left: 1px;
    margin-top: 4px; }
  .iconWrapper .calendar.icon {
    margin-left: 2px;
    margin-top: 4px; }
  .iconWrapper .calendar2.icon {
    margin-left: 2px;
    margin-top: 3px; }
  .iconWrapper .calendar3.icon {
    margin-left: 2px;
    margin-top: 4px; }
  .iconWrapper .paperclip.icon {
    margin-left: 9px;
    margin-top: 2px; }
  .iconWrapper .retweet.icon {
    margin-left: 3px;
    margin-top: 5px; }
  .iconWrapper .laptop.icon {
    margin-left: 4px;
    margin-top: 3px; }
  .iconWrapper .mobile.icon {
    margin-left: 4px;
    margin-top: 0px; }
  .iconWrapper .tablet.icon {
    margin-left: 2px;
    margin-top: 1px; }
    .iconWrapper .tablet.icon.filled {
      margin-left: 2px; }
  .iconWrapper .picture.icon {
    margin-left: 2px;
    margin-top: 2px; }
  .iconWrapper .target.icon {
    margin-left: 1px;
    margin-top: 1px; }
  .iconWrapper .more.icon {
    margin-left: 9px;
    margin-top: 9px; }
  .iconWrapper .vmore.icon {
    margin-left: 9px;
    margin-top: 9px; }
  .iconWrapper .face.icon {
    margin-left: 2px;
    margin-top: 2px; }
  .iconWrapper .plus.icon {
    margin-left: 3px;
    margin-top: 10px; }
  .iconWrapper .minus.icon {
    margin-left: 3px;
    margin-top: 10px; }
  .iconWrapper .remove.icon {
    margin-left: 3px;
    margin-top: 10px; }
  .iconWrapper .check.icon {
    margin-left: 3px;
    margin-top: 4px; }
  .iconWrapper .arrowUp.icon {
    margin-left: 10px;
    margin-top: 3px; }
  .iconWrapper .arrowDown.icon {
    margin-left: 10px;
    margin-top: 2px; }
  .iconWrapper .volumePlus.icon {
    margin-left: 2px;
    margin-top: 7px; }
  .iconWrapper .volumeMinus.icon {
    margin-left: 2px;
    margin-top: 7px; }
  .iconWrapper .volumeMute.icon {
    margin-left: 2px;
    margin-top: 7px; }
  .iconWrapper .volumeOne.icon {
    margin-left: -2px;
    margin-top: 5px; }
  .iconWrapper .volumeTwo.icon {
    margin-left: -4px;
    margin-top: 3px; }
  .iconWrapper .volumeThree.icon {
    margin-left: -4px;
    margin-top: 3px; }
  .iconWrapper .eye.icon {
    margin-left: 3px;
    margin-top: 3px; }
  .iconWrapper .battery.icon {
    margin-left: 2px;
    margin-top: 6px; }
  .iconWrapper .bag.icon {
    margin-left: 2px;
    margin-top: 6px; }
  .iconWrapper .cloud.icon {
    margin-left: 1px;
    margin-top: 9px; }
  .iconWrapper .circle.plusI.icon,
  .iconWrapper .square.plusI.icon {
    margin-left: 2px;
    margin-top: 2px; }
  .iconWrapper .circle.minusI.icon,
  .iconWrapper .square.minusI.icon {
    margin-left: 2px;
    margin-top: 2px; }
  .iconWrapper .circle.checkI.icon,
  .iconWrapper .square.checkI.icon {
    margin-left: 2px;
    margin-top: 2px; }
  .iconWrapper .circle.removeI.icon,
  .iconWrapper .square.removeI.icon {
    margin-left: 2px;
    margin-top: 2px; }
