$grey: #333;
$white: #fff;
body {
  padding: 100px;
}
.iconWrapper {
  position: relative; 
  overflow: hidden;
  float: left;
  width: 21px;
  height: 21px;
  background-color: $white;
  margin: 0 80px 80px 0;
  /* transform: scale(4,4); */
  .search.icon {
    top: 2px;
    left: 3px;
  }
  .close.icon {
    top: 0;
    left: 0;
  }
  .hamburger.icon {
    left: 2px;
    top: 10px;
  }
  .arrowRight.icon {
    left: 2px;
    top: 10px;
  }
  .arrowLeft.icon {
    left: 3px;
    top: 10px;
  }
  .trash.icon {
    left: 5px;
    top: 7px;
  }
  .audio.icon {
    left: 5px;
    top: 8px;
  }
  .pin.icon {
    left: 4px;
    top: 2px;
  }
  .raindrop.icon {
    left: 5px;
    top: 5px;
  }
  .stop.icon {
    left: 2px;
    top: 2px;
  }
  .clock.icon {
    left: 2px;
    top: 2px;
  }
  .profile.icon {
    left: 3px;
    top: 11px;
  }
  .bell.icon {
    left: 5px;
    top: 2px;
  }
  .heart.icon {
    top: 6px;
    left: 5px;
  }
  .print.icon {
    left: 2px;
    top: 5px;
  }
  .edit.icon { 
    left: 4px;
    top: 7px;
  }
  .link.icon { 
    left: 8px;
    top: 10px;
  }
  .map.icon { 
    left: 8px;
    top: 4px;
  }
  .mail.icon {  
    left: 2px;
    top: 4px;
  }
  .bookmark.icon {
    left: 5px;
    top: 3px;
  }
  .camera.icon {
    left: 2px;
    top: 5px;
  }
  .focus.icon {
    left: 2px;
    top: 2px;
  }
  .card.icon {
    left: 2px;
    top: 4px;
  }
  .volume.icon {
    left: 11px;
    top: 3px;
  }
  .lock.icon {
    left: 3px;
    top: 10px;
  }
  .code.icon {
    left: 3px;
    top: 6px;
  }
  .flag.icon {
    left: 6px;
    top: 4px;
  }
  .tag.icon {  
    left: 4px;
    top: 3px;
  }
  .signal.icon {
    left: 7px;
    top: 13px;
  }
  .moon.icon {
    left: 4px;
    top: 2px;
  }
  .sun.icon {
    left: 6px;
    top: 6px;
  }
  .shutdown.icon {
    top: 3px;
    left: 3px;
  }
  .export.icon {
    left: 4px;
    top: 7px;
  }
  .download.icon {
    left: 4px;
    top: 5px;
  }
  .upload.icon {
    left: 4px;
    top: 3px;
  }
  .shut.icon {
    top: 4px;
    left: 4px;
  }
  .chat.icon {
    left: 2px;
    top: 4px;
  }
  .key.icon {
    left: 1px;
    top: 6px;
  }
  .key2.icon {
    left: 10px;
    top: 2px;
  }
  .refresh.icon {
    left: 4px;
    top: 3px;
  }
  .umbrella.icon {
    left: 3px;
    top: 2px;
  }
  .thermometer.icon {
    left: 7px;
    top: 11px;
  }
  .pilcrow.icon {
    left: 4px;
    top: 2px;
  }
  .justified.icon {
    left: 2px;
    top: 6px;
  }
  .leftaligned.icon {
    left: 2px;
    top: 6px;
  }
  .centered.icon {
    left: 2px;
    top: 6px;
  }
  .rightaligned.icon {
    left: 2px;
    top: 6px;
  }
  .indent.icon {
    left: 2px;
    top: 6px;
  }
  .outdent.icon {
    left: 2px;
    top: 6px;
  }
  .anchor.icon {
    left: 2px;
    top: 10px;
  }
  .browser.icon {
    left: 2px;
    top: 2px;
  }
  .tv.icon {
    left: 2px;
    top: 3px;
  }
  .watch.icon {
    left: 7px;
    top: 0px;
  }
  .navigate.icon {
    left: 6px;
    top: -1px;
  }
  .float.icon {
    left: 2px;
    top: 2px;
  }
  .mouse.icon {
    left: 4px;
    top: 1px;
  }
  .keyboard.icon {
    left: 1px;
    top: 4px;
  }
  .calendar.icon {
    left: 2px;
    top: 4px;
  }
  .calendar2.icon {
    left: 2px;
    top: 3px;
  }
  .calendar3.icon {
    left: 2px;
    top: 4px;
  }
}
.icon {
  position: absolute;
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
  }
  i { 
    position: absolute;
    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
    }
  }
}
.search.icon {
  width: 12px; 
  height: 12px;
  border: solid 1px $grey;
  border-radius: 100%;
  transform: rotate(-45deg);
  &:before {
    top: 12px;
    left: 5px;
    height: 6px;
    width: 1px;
    background-color: $grey;
  }
  &.plusI i {
    left: 4px;
    top: 4px;
    transform: rotate(45deg);
    &:before, 
    &:after {
      width: 6px;
      height: 1px;
      background-color: $grey;
    }
    &:before {
    }
    &:after {
      transform: rotate(90deg);
    }
  }
  &.minusI i {
    left: 4px;
    top: 4px;
    transform: rotate(45deg);
    &:before {
      width: 6px;
      height: 1px;
      background-color: $grey;
    }
  }
  &.filled {
    &:after {
      width: 10px;
      height: 10px;
      background-color: $grey;
      border-radius: 50%;
      left: 1px;
      top: 1px;
    }
    i {
      z-index: 1;
    }
    &.plusI {
      background-color: $grey;
      i:before, 
      i:after {
        background-color: $white;
      }
    }
    &.minusI {
      background-color: $grey;
      i:before {
        background-color: $white;
      }
    }
  }
}
.close.icon {
    width: 21px;
    height: 21px; 
    &:before,
    &:after {
      width: 21px; 
      height: 1px;
      background-color: $grey;
      top: 10px;
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
}
.hamburger.icon {
  width: 17px;
  height: 1px;
  background-color: $grey;
  &:before,
  &:after {
    left: 0;
    width: 17px;
    height: 1px;
    background-color: $grey;
  }
  &:before {
    top: -5px;
  }
  &:after {
    top: 5px;
  }
}
.arrowRight.icon {
  width: 16px;
  height: 1px;
  background-color: $grey;
  &:before {
    width: 10px;
    height: 10px;
    border-top: solid 1px $grey;
    border-right: solid 1px $grey;
    transform: rotate(45deg);
    right: 1px;
    top: -5px;
  }
}
.arrowLeft.icon {
  width: 16px;
  height: 1px;
  background-color: $grey;
  &:before {
    width: 10px;
    height: 10px;
    border-top: solid 1px $grey;
    border-right: solid 1px $grey;
    transform: rotate(-135deg);
    left: 1px;
    top: -5px;
  }
}
.arrowUp.icon {
  left: 10px;
  top: 3px;
  width: 1px;
  height: 16px;
  background-color: $grey;
  &:before {
    width: 10px;
    height: 10px;
    border-top: solid 1px $grey;
    border-right: solid 1px $grey;
    transform: rotate(-45deg);
    left: -5px;
    top: 1px;
  }
}
.arrowDown.icon {
  left: 10px;
  top: 2px;
  width: 1px;
  height: 16px;
  background-color: $grey;
  &:before {
    width: 10px;
    height: 10px;
    border-top: solid 1px $grey;
    border-right: solid 1px $grey;
    transform: rotate(135deg);
    left: -5px;
    top: 3px;
  }
}
.trash.icon {
  width: 9px;
  height: 10px;
  border-left: solid 1px $grey;
  border-right: solid 1px $grey;
  border-bottom: solid 1px $grey;
  border-radius: 0 0 2px 2px;
  &:before {
    width: 17px;
    height: 1px;
    background-color: $grey;
    left: -4px;
    top: -2px;
  }
  &:after {
    width: 7px;
    height: 2px;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    border-top: solid 1px $grey;
    left: 0px;
    top: -5px;
    border-radius: 4px 4px 0 0;
  }
  &.filled {
    background-color: $grey;
    &:after {
      background-color: $grey;
    }
  }
}
.audio.icon {
  width: 9px;
  height: 7px;
  border-left: solid 1px $grey;
  border-right: solid 1px $grey;
  border-bottom: solid 1px $grey;
  border-radius: 0 0 50% 50%;
  &:before {
    left: 1px;
    top: -6px;
    width: 5px;
    height: 10px;
    border: solid 1px $grey;
    border-radius: 4px;
  }
  &:after {
    left: 4px;
    bottom: -4px;
    width: 1px;
    height: 4px;
    background-color: $grey;
  }
  &.filled {
    &:before {
      border-color: $grey;
      background-color: $grey;
    }
  }
}
.pin.icon {
  width: 12px;
  height: 12px;
  border: solid 1px $grey;
  border-radius: 7px 7px 7px 0;
  transform: rotate(-45deg);
  &:before {
    width: 4px;
    height: 4px;
    border: solid 1px $grey;
    border-radius: 3px;
    left: 3px;
    top: 3px;
  }
  &.filled {
    background-color: $grey;
    &:before {
      border-color: $white;
      background-color: $white;
    }
  }
}
.raindrop.icon {
  width: 10px;
  height: 10px;
  border: solid 1px $grey;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 0px;
  transform: rotate(135deg);
  &.filled {
    background-color: $grey;
  }
}
.stop.icon {
  width: 15px;
  height: 15px;
  position: relative;
  border: solid 1px $grey;
  border-radius: 8px;
  &:before {
    width: 17px;
    height: 1px;
    background-color: $grey;
    top: 7px;
    left: -1px;
    transform: rotate(45deg);
  }
  &.filled {
    background-color: $grey;
    &:before {
      background-color: $white;
    }
  }
}
.clock.icon {
  width: 15px;
  height: 15px;
  position: relative;
  border: solid 1px $grey;
  border-radius: 8px;
  &.filled {
    background-color: $grey;
    &:before, 
    &:after {
      background-color: $white;
    }
  }
  &:before, 
  &:after {
    background-color: $grey;
    left: 7px;
    transform-origin: 0% 0%;
  }
  &:before {
    width: 5px;
    height: 1px;
    top: 7px;
  }
  &:after {
    width: 1px;
    height: 6px;
    top: 2px;
  }
  &.h0:before {
    width: 1px;
    height: 5px;
    top: 3px;
  }
  &.h6:before {
    width: 1px;
    height: 5px;
  }
  &.h9:before {
    left: 3px;
  }
  &.m15:after {
    width: 6px;
    height: 1px;
    top: 7px;
  }
  &.m30:after {
    width: 1px;
    height: 6px;
    top: 7px;
  }
  &.m45:after {
    width: 6px;
    height: 1px;
    left: 2px;
  }
}
.profile.icon {
  width: 14px;
  height: 6px;
  border-left: solid 1px $grey;
  border-right: solid 1px $grey;
  border-top: solid 1px $grey;
  border-bottom: solid 1px transparent;
  border-radius: 6px 6px 0 0;
  &:before {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: solid 1px $grey;
    position: absolute;
    left: 2px;
    top: -10px;
    background-color: $white;
  }
  &.filled {
    background-color: $grey;
    &:before {
      background-color: $grey;
    }
  }
}
.bell.icon {
  width: 9px;
  height: 10px;
  border: solid 1px $grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  &:before {
    width: 15px;
    height: 0px; 
    border-top: solid 1px $grey;
    border-bottom: solid 1px $white;
    bottom: -2px;
    left: -3px;
    z-index: 2;
  }
  &:after {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    border: solid 1px $grey;
    bottom: -5px;
    left: 2px;
  }
  &.filled{
    background-color: $grey;
    &:after {
      background-color: $grey;
    }
  }
}
.heart.icon {
  width: 9px;
  height: 9px;
  border-left: solid 1px $grey;
  border-bottom: solid 1px $grey;
  transform: rotate(-45deg);
  &:before {
    width: 8px;
    height: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top: solid 1px $grey;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    top: -5px;
    left: -1px;
  }
  &:after {
    width: 5px;
    height: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top: solid 1px $grey;
    border-right: solid 1px $grey;
    border-bottom: solid 1px $grey;
    top: 0px;
    left: 8px;
  }
  &.filled {
    background-color: $grey;
    &:before,
    &:after {
      background-color: $grey;
    }
  }
}
.print.icon {
  width: 15px;
  height: 6px;
  border: solid 1px $grey;
  border-radius: 1px 1px 0 0;
  &:before {
    height: 13px;
    width: 9px;
    border: solid 1px $grey;
    background-color: $white;
    left: 2px;
    top: -3px;
  }
  &:after {
    width: 13px;
    height: 3px;
    border-top: solid 1px $grey;
    border-bottom: solid 1px $grey;
    background-color: $white;
    left: 1px;
    top: -1px;
  }
  &.filled {
    background-color: $grey;
    &:after {
      background-color: $grey;
    }
  }
}
.edit.icon {
  width: 14px;
  height: 2px;
  border: solid 1px $grey;
  transform: rotate(-45deg);
  border-radius: 1px;
  &:before {
    width: 0px;
    height: 0px;
    border-left: solid 5px transparent;
    border-right: solid 5px $grey;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
    left: -12px;
    top: -1px;
  }
  &.filled {
    background-color: $grey;
  }
}
.link.icon {
  width: 7px;
  height: 1px;
  background-color: $grey;
  transform :rotate(-45deg);
  &:before,
  &:after {
    width: 8px;
    height: 5px;
    border-radius: 2px;
    border: solid 1px $grey;
    top: -3px;
  }
  &:before {
    left: -7px;
  }
  &:after {
    right: -7px;
  }
}
.map.icon {
  width: 4px;
  height: 10px;
  border: solid 1px $grey;
  border-radius: 1px;
  transform: skewY(20deg);
  &:before,
  &:after {
    width: 4px;
    height: 10px;
    border: solid 1px $grey;
    border-radius: 1px;
    transform: skewY(-40deg);
  }
  &:before {
    left: -6px;
    top: 1px;
  }
  &:after {
    left: 4px;
    top: -3px;
  }
}
.mail.icon {
  width: 15px;
  height: 10px;
  border: solid 1px $grey;
  border-radius: 1px;
  &:before, 
  &:after {
    width: 1px;
    height: 10px;
    background-color: $grey;
    transform-origin: bottom;
    left: 7px;
    top: -4px;
  }
  &:before {
    transform: rotate(-54deg);
  }
  &:after {
    transform: rotate(54deg);
  }
  &.filled {
    background-color: $grey;
    &:before, 
    &:after {
      background-color: $white;
    }
  }
}
.bookmark.icon {
  width: 10px;
  height: 15px;
  border-top: solid 1px $grey;
  border-left: solid 1px $grey;
  border-right: solid 1px $grey;
  border-radius: 1px 1px 0 0;
  &:before {
    width: 7px;
    height: 7px;
    border-top: solid 1px $grey;
    border-left: solid 1px $grey;
    transform: rotate(45deg);
    top: 10px;
    left: 1px;
  }
  &.filled {
    background-color: $grey;
    &:before {
      background-color: $white;
    }
  }
}
.camera.icon {
  width: 16px;
  height: 10px;
  border: solid 1px $grey;
  border-radius: 1px;
  &:before {
    width: 4px;
    height: 4px;
    border: solid 1px $grey;
    border-radius: 3px;
    left: 5px;
    top: 2px;
  }
  &:after {
    width: 4px;
    height: 1px;
    border-radius: 1px 1px 0 0;
    background-color: $grey;
    right: 2px;
    top: -2px;
  }
  &.filled {
    background-color: $grey;
    &:before {
      background-color: $white;
      border: solid 1px $white;
    }
  }
}
.focus.icon {
  width: 15px;
  height: 15px;
  border: solid 1px $grey;
  border-radius: 1px;
  &:before,
  &:after {
    width: 9px;
    height: 17px;
    background-color: $white;
    left: 3px;
    top: -1px;
    transform-origin: center;
  }
  &:after {
    transform: rotate(90deg);
  }
}
.card.icon {
  width: 15px;
  height: 10px;
  border: solid 1px $grey;
  border-radius: 1px;
  &:before {
    width: 17px;
    height: 2px;
    background-color: $grey;
    top: 1px;
    left: -1px;
  }
  &:after {
    width: 4px;
    height: 1px;
    background-color: $grey;
    right: 1px;
    bottom: 2px;
  }
  &.filled {
    background-color: $grey;
    &:before, 
    &:after {
      background-color: $white;
    }
  }
}
.volume.icon {
  width: 1px;
  height: 15px;
  background-color: $grey;
  &:before {
    width: 10px;
    height: 10px;
    border-top: solid 1px $grey;
    border-left: solid 1px $grey;
    transform: rotate(-45deg);
    left: -5px;
    top: 2px;
  }
  &:after {
    width: 4px;
    height: 5px;
    border-left: solid 1px $grey;
    border-top: solid 1px $grey;
    border-bottom: solid 1px $grey;
    border-radius: 1px 0 0 1px;
    background-color: $white;
    left: -8px;
    top: 4px;
  }
  &.filled {
    width: 0;
    &:before {
      width: 0;
      height: 7px;
      border-top: solid 4px transparent;
      border-right: solid 5px $grey;
      border-bottom: solid 4px transparent;
      border-left: solid 5px transparent;
      transform: rotate(0deg);
      left: -9px;
      top: 0px;
    }
    &:after {
      background-color: $grey;
    }
  }
}
.volumePlus.icon {
  left: 2px;
  top: 7px;
  &:before,
  &:after {
    width: 6px;
    height: 1px;
    background-color: $grey;
    transform-origin: center;
  }
  &:after {
    transform: rotate(-90deg);
  }
}
.volumeMinus.icon {
  left: 2px;
  top: 7px;
  &:before{
    width: 6px;
    height: 1px;
    background-color: $grey;
  }
}
.volumeMute.icon {
  left: 2px;
  top: 7px;
  &:before,
  &:after {
    width: 6px;
    height: 1px;
    background-color: $grey;
    transform-origin: center;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
.volumeOne.icon {
  left: -2px;
  top: 5px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border-top: solid 1px transparent;
  border-right: solid 1px $grey;
  border-bottom: solid 1px transparent;
  border-left: solid 1px transparent;
}
.volumeTwo.icon {
  left: -4px;
  top: 3px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border-top: double 3px transparent;
  border-right: double 3px $grey;
  border-bottom: double 3px transparent;
  border-left: double 3px transparent;
}
.volumeThree.icon {
  left: -4px;
  top: 3px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border-top: double 3px transparent;
  border-right: double 3px $grey;
  border-bottom: double 3px transparent;
  border-left: double 3px transparent;
  &:after {
    left: -5px;
    top: -5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-top: solid 1px transparent;
    border-right: solid 1px $grey;
    border-bottom: solid 1px transparent;
    border-left: solid 1px transparent;
  }
}
.lock.icon {
  width: 13px;
  height: 6px;
  border: solid 1px $grey;
  border-radius: 1px;
  &:before {
    width: 5px;
    height: 6px;
    border-radius: 4px 4px 0 0;
    border-top: solid 1px $grey;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    left: 3px;
    top: -8px;
  }
  &.unlocked {
    &:before {
      height: 3px;
    }
    &:after {
      width: 1px;
      height: 3px;
      background-color: $grey;
      left: 3px;
      top: -4px;
    } 
  }
  &.filled {
    background-color: $grey;
  }
}
.code.icon {
  &:before,
  &:after {
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
  }
  &:before {
    border-left: solid 1px $grey;
    border-top: solid 1px $grey;
  }
  &:after {
    border-bottom: solid 1px $grey;
    border-right: solid 1px $grey;
    left: 6px;
  }
}
.flag.icon {
  width: 9px;
  height: 6px;
  border: solid 1px $grey;
  border-radius: 1px;
  &:before {
    width: 1px;
    height: 15px;
    background-color: $grey;
    left: -3px;
    top: -2px;
  }
  &.filled {
    background-color: $grey;
  }
}
.tag.icon {
  width: 7px;
  height: 7px;
  border-left: solid 1px $grey;
  border-top: solid 1px $grey;
  border-radius: 1px 1px 1px 0;
  &:before {
    width: 9px;
    height: 10px;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    border-bottom: solid 1px $grey;
    border-radius: 1px;
    transform: rotate(-45deg);
    left: 1px;
    top: 1px;
  }
  &:after {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: $grey;
    left: 3px;
    top: 3px;
  }
  &.filled {
    background-color: $grey;
    &:before {
      background-color: $grey;
    }
    &:after {
      background-color: $white;
    }
  }
}
.signal.icon {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border-top: solid 1px $grey;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  border-left: solid 1px transparent;
  &:before {
    left: -5px;
    top: -5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border-top: solid 1px $grey;
    border-right: solid 1px transparent;
    border-bottom: solid 1px transparent;
    border-left: solid 1px transparent;
  }
  &:after {
    left: -9px;
    top: -9px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border-top: solid 1px $grey;
    border-right: solid 1px transparent;
    border-bottom: solid 1px transparent;
    border-left: solid 1px transparent;
  }
}
.moon.icon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border-top: solid 1px $grey;
  border-bottom: solid 1px $grey;
  border-left: solid 1px $grey;
  border-right: solid 1px transparent;
  &:before {
    left: 7px;
    top: 1px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-top: solid 1px transparent;
    border-bottom: solid 1px $grey;
    border-left: solid 1px $grey;
    border-right: solid 1px transparent;
    transform: rotate(45deg);
  }
  &.filled {
    background-color: $grey;
    &:before {
      background-color: $white;
      border-bottom: solid 1px transparent;
      border-left: solid 1px transparent;
      left: 9px;
      top: 2px;
      width: 8px;
      height: 8px;
    }
  }
}
.sun.icon {
  width: 6px;
  height: 6px;
  border: 1px solid $grey;
  border-radius: 50%;
  box-shadow: 
    -8px 0 0 -3px $grey, 
    8px 0 0 -3px $grey, 
    0 -8px 0 -3px $grey, 
    0 8px 0 -3px $grey, 
    -6px -6px 0 -3px $grey, 
    -6px 6px 0 -3px $grey, 
    6px -6px 0 -3px $grey, 
    6px 6px 0 -3px $grey;
  &.filled {
    background-color: $grey;
  }
}
.export.icon {
  width: 11px;
  height: 9px;
  border: solid 1px $grey;
  border-radius: 1px;
  &:before {
    width: 1px;
    height: 8px;
    background-color: $grey;
    border-left: solid 3px $white;
    border-right: solid 3px $white;
    top: -5px;
    left: 2px;
  }
  &:after {
    width: 4px;
    height: 4px;
    border-top: solid 1px $grey;
    border-right: solid 1px $grey;
    transform: rotate(-45deg);
    left: 3px;
    top: -5px;
  }
}
.download.icon {
  width: 11px;
  height: 11px;
  border: solid 1px $grey;
  border-radius: 1px;
  &:before {
    width: 1px;
    height: 10px;
    background-color: $grey;
    border-left: solid 3px $white;
    border-right: solid 3px $white;
    top: -4px;
    left: 2px;
  }
  &:after {
    width: 4px;
    height: 4px;
    border-top: solid 1px $grey;
    border-right: solid 1px $grey;
    transform: rotate(135deg);
    left: 3px;
    top: 1px;
  }
}
.upload.icon {
  width: 11px;
  height: 11px;
  border: solid 1px $grey;
  border-radius: 1px;
  &:before {
    width: 1px;
    height: 10px;
    background-color: $grey;
    border-left: solid 3px $white;
    border-right: solid 3px $white;
    top: 4px;
    left: 2px;
  }
  &:after {
    width: 4px;
    height: 4px;
    border-top: solid 1px $grey;
    border-right: solid 1px $grey;
    transform: rotate(-45deg);
    left: 3px;
    top: 4px;
  }
}
.shutdown.icon {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border-top: solid 1px $grey;
  border-bottom: solid 1px $grey;
  border-left: solid 1px $grey;
  border-right: solid 1px $grey;
  &:before {
    width: 1px;
    height: 7px;
    border-left: solid 3px $white;
    border-right: solid 3px $white;
    background-color: $grey;
    left: 3px;
    top: -2px;
  }
}
.shut.icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: solid 1px $grey;
  &:before {
    width: 1px;
    height: 8px;
    border-left: solid 4px $white;
    border-right: solid 4px $white;
    background-color: $grey;
    left: -3px;
    top: -2px;
    transform: rotate(-45deg);
  }
  &:after {
    width: 4px;
    height: 4px;
    border-top: solid 1px $grey;
    border-left: solid 1px $grey;
    left: -2px;
    top: -2px;
  }
}
.chat.icon {
  width: 15px;
  height: 10px;
  border: solid 1px $grey;
  border-radius: 2px;
  &:before {
    width: 4px;
    height: 4px;
    transform: rotate(45deg);
    background-color: $white;
    border-bottom: solid 1px $grey;
    border-right: solid 1px $grey;
    left: 3px;
    top: 8px;
  }
  &.filled {
    background-color: $grey;
    &:before {
      background-color: $grey;
    }
  }
}
.paperclip.icon {
  left: 9px;
  top: 2px;
  width: 6px;
  height: 12px;
  border-left: solid 1px $grey;
  border-right: solid 1px $grey;
  border-top: solid 1px $grey;
  border-radius: 4px 4px 0 0;
  transform: rotate(45deg);
  &:before {
    top: 11px;
    left: -1px;
    width: 4px;
    height: 6px;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    border-bottom: solid 1px $grey;
    border-radius: 0 0 3px 3px;
  }
  &:after {
    left: 1px;
    top: 1px;
    width: 2px;
    height: 10px;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    border-top: solid 1px $grey;
    border-radius: 4px 4px 0 0;
  }
}
.retweet.icon {
  left: 3px;
  top: 5px;
  width: 13px;
  height: 9px;
  border: solid 1px $grey;
  border-radius: 1px;
  &:before {
    width: 0;
    height: 0;
    border-top: solid 3px $white;
    border-bottom: solid 3px $grey;
    border-left: solid 3px $white;
    border-right: solid 3px $white;
    left: -3px;
    top: -2px;
  }
  &:after {
    width: 0;
    height: 0;
    border-top: solid 3px $grey;
    border-bottom: solid 3px $white;
    border-left: solid 3px $white;
    border-right: solid 3px $white;
    right: -3px;
    bottom: -2px;
  }
}
.key.icon {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px $grey;
  &:before {
    width: 11px;
    height: 1px;
    background-color: $grey;
    left: 7px;
    top: 3px;
  }
  &:after {
    width: 1px;
    height: 3px;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    left: 13px;
    top: 3px;
  }
  &.filled {
    background-color: $grey;
  }
}
.key2.icon {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px $grey;
  transform: rotate(135deg);
  &:before {
    width: 12px;
    height: 1px;
    background-color: $grey;
    left: 7px;
    top: 3px;
  }
  &:after {
    width: 1px;
    height: 3px;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    left: 14px;
    top: 0px;
  }
  &.filled {
    background-color: $grey;
  }
}
.refresh.icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-top: solid 1px $grey;
  border-bottom: solid 1px $grey;
  border-left: solid 1px transparent;
  border-right: solid 1px $grey;
  &:before {
    width: 3px;
    height: 3px;
    border-top: solid 1px $grey;
    border-left: solid 1px $grey;
    transform: rotate(-22.5deg);
    left: 1px;
    top: 10px;
  }
}
.umbrella.icon {
  width: 13px;
  height: 6px;
  border-radius: 8px 8px 0 0;
  border: solid 1px $grey;
  &:before {
    width: 4px;
    height: 2px;
    border-radius: 0 0 3px 3px;
    border-right: solid 1px $grey;
    border-bottom: solid 1px $grey;
    border-left: solid 1px $grey;
    left: 6px;
    top: 12px;
  }
  &:after {
    width: 1px;
    height: 5px;
    background-color: $grey;
    left: 6px;
    top: 7px;
  }
  &.filled {
    background-color: $grey;
  }
}
.thermometer.icon {
  width:  6px;
  height: 6px;
  border-radius: 4px;
  border: solid 1px $grey;
  &:before {
    width: 2px;
    height: 10px;
    border-top: solid 1px $grey;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    border-bottom: solid 1px $white;
    border-radius: 2px 2px 0 0;
    background-color: $white;
    z-index: 1;
    left: 1px;
    top: -11px;
  }
  &.filled:after {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: $grey;
    left: 1px;
    top: 1px;
    z-index: 2;
  }
}
.pilcrow.icon {
  width: 8px;
  height: 8px;
  border-left: solid 1px $grey;
  border-top: solid 1px $grey;
  border-bottom: solid 1px $grey;
  border-radius: 5px 0 0 5px;
  &:before {
    height: 16px;
    width: 2px;
    border-top: solid 1px $grey;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    left: 8px;
    top: -1px;
  }
  &.filled {
    background-color: $grey;
  }
}
.justified.icon {
  width: 17px;
  height: 5px;
  border-top: solid 1px $grey;
  border-bottom: solid 1px $grey;
  &:before {
    top: 2px;
    left: 0;
    width: 17px;
    height: 5px;
    border-top: solid 1px $grey;
    border-bottom: solid 1px $grey;
  }
}
.leftaligned.icon {
  width: 17px;
  height: 5px;
  border-top: solid 1px $grey;
  border-bottom: solid 1px $grey;
  &:before {
    top: 2px;
    left: 0;
    width: 13px;
    height: 5px;
    border-top: solid 1px $grey;
    border-bottom: solid 1px $grey;
  }
}
.centered.icon {
  width: 17px;
  height: 5px;
  border-top: solid 1px $grey;
  border-bottom: solid 1px $grey;
  &:before {
    top: 2px;
    left: 2px;
    width: 13px;
    height: 5px;
    border-top: solid 1px $grey;
    border-bottom: solid 1px $grey;
  }
}
.rightaligned.icon {
  width: 17px;
  height: 5px;
  border-top: solid 1px $grey;
  border-bottom: solid 1px $grey;
  &:before {
    top: 2px;
    left: 4px;
    width: 13px;
    height: 5px;
    border-top: solid 1px $grey;
    border-bottom: solid 1px $grey;
  }
}
.indent.icon {
  width: 17px;
  height: 8px;
  border-top: solid 1px $grey;
  border-bottom: solid 1px $grey;
  &:before {
    top: 2px;
    left: 4px;
    width: 13px;
    height: 2px;
    border-top: solid 1px $grey;
    border-bottom: solid 1px $grey;
  }
  &:after {
    top: 1px;
    width: 0;
    height: 0;
    border-top: solid 3px transparent;
    border-bottom: solid 3px transparent;
    border-left: solid 3px $grey;
    border-right: solid 3px transparent;
  }
}
.outdent.icon {
  width: 17px;
  height: 8px;
  border-top: solid 1px $grey;
  border-bottom: solid 1px $grey;
  &:before {
    top: 2px;
    left: 4px;
    width: 13px;
    height: 2px;
    border-top: solid 1px $grey;
    border-bottom: solid 1px $grey;
  }
  &:after {
    top: 1px;
    left: -3px;
    width: 0;
    height: 0;
    border-top: solid 3px transparent;
    border-bottom: solid 3px transparent;
    border-left: solid 3px transparent;
    border-right: solid 3px $grey;
  }
}
.eye.icon {
  width: 12px;
  height: 12px;
  border-radius: 70% 15%;
  border: solid 1px $grey;
  transform: rotate(45deg);
  left: 3px;
  top: 3px;
  &:before {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: solid 1px $grey;
    left: 2px;
    top: 2px;
  }
  &.filled:before {
    background-color: $grey;
  }
  &.filled2 {
    background-color: $grey;
    &:before {
      background-color: $white;
    }
  }
  &.filled3 {
    background-color: $grey;
    &:before {
      border-color: $white;
    }
  }
}
.battery.icon {
  width: 13px;
  height: 7px;
  border-radius: 2px;
  border: solid 1px $grey;
  left: 2px;
  top: 6px;
  &:before {
    width: 2px;
    height: 3px;
    border-radius: 0 2px 2px 0;
    border-top: solid 1px $grey;
    border-right: solid 1px $grey;
    border-bottom: solid 1px $grey;
    right: -3px;
    top: 1px;
  }
  &.batteryOne {
    &:after {
      left: 1px;
      top: 1px;
      width: 4px;
      height: 5px;
      background-color: $grey;
    }
  }
  &.batteryTwo {
    &:after {
      left: 1px;
      top: 1px;
      width: 8px;
      height: 5px;
      background-color: $grey;
    }
  }
  &.batteryThree {
    &:after {
      left: 1px;
      top: 1px;
      width: 11px;
      height: 5px;
      background-color: $grey;
    }
  }
  &.filled {
    background-color: $grey;
    &:before {
      border-radius: 0 1px 1px 0;
      background-color: $grey;
    }
    &:after {
      left: 0px;
      top: 0px;
      height: 7px;
      width: 1px;
      background-color: $white;
      border-radius: 1px 0 0 1px;
    }
    &.batteryOne {
      &:after {
        width: 5px;
      }
    }
    &.batteryTwo {
      &:after {
        width: 9px;
      }
    }
    &.batteryThree {
      &:after {
        width: 13px;
        border-radius: 1px;
      }
    }
  }
}
.bag.icon {
  left: 2px;
  top: 6px;
  width: 15px;
  height: 10px;
  border: solid 1px $grey;
  border-radius: 2px;
  &:before {
    width: 5px;
    height: 2px;
    border-top: solid 1px $grey;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    border-radius: 3px 3px 0 0;
    left: 4px;
    top: -3px;
  }
  &:after {
    width: 7px;
    height: 10px;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    left: 3px;
  }
  &.filled {
    background-color: $grey;
    &:after {
      border-left: solid 1px $white;
      border-right: solid 1px $white;
    }
  }
  &.filled2 {
    &:after {
      background-color: $grey;
    }
  }
  &.filled3 {
    background-color: $grey;
    &:after {
      background-color: $white;
    }
  }
}
.anchor.icon {
  width: 15px;
  height: 8px;
  border-left: solid 1px $grey;
  border-right: solid 1px $grey;
  border-bottom: solid 1px $grey;
  border-radius: 0 0 8px 8px;
  &:before {
    width: 1px;
    height: 10px;
    background-color: $grey;
    left: 7px;
    top: -2px;
  }
  &:after {
    width: 5px;
    height: 5px;
    border: solid 1px $grey;
    border-radius: 50%;
    left: 4px;
    top: -8px;
  }
}
.browser.icon {
  width: 15px;
  height: 15px;
  border: solid 1px $grey;
  border-radius: 50%;
  &:before {
    left: 1px;
    top: 1px;
    width: 11px;
    height: 11px;
    border: solid 1px $grey;
    border-radius: 85% 15%;
    transform: rotate(-45deg);
  }
  &:after {
    width: 15px;
    height: 1px;
    background-color: $grey;
    top: 7px;
  }
  &.filled {
    background-color: $grey;
    &:before {
      border: solid 1px $white;
    }
    &:after {
      background-color: $white;
    }
  }
}
.tv.icon {
  width: 15px;
  height: 10px;
  border: solid 1px $grey;
  border-radius: 2px;
  &:before {
    left: 7px;
    bottom: -4px;
    width: 1px;
    height: 3px;
    background-color: $grey;
  }
  &:after {
    left: 4px;
    bottom: -4px;
    width: 7px;
    height: 1px;
    background-color: $grey;
  }
  &.filled {
    background-color: $grey;
  }
}
.laptop.icon {
  left: 4px;
  top: 3px;
  width: 12px;
  height: 8px;
  border: solid 1px $grey;
  border-radius: 2px;
  &:before {
    left: -4px;
    bottom: -5px;
    width: 18px;
    height: 1px;
    border: solid 1px $grey;
    border-radius: 0 0 2px 2px;
  }
  &.filled {
    background-color: $grey;
    &:before {
      background-color: $grey;
    }
  }
}
.mobile.icon {
  left: 4px;
  top: 0px;
  width: 12px; 
  height: 19px;
  border-radius: 2px;
  border: solid 1px $grey;
  &:before {
    left: 5px;
    top: 1px;
    width: 2px;
    height: 1px;
    background-color: $grey;
  }
  &:after {
    bottom: 1px;
    left: 5px;
    height: 2px;
    width: 2px;
    background-color: $grey;
    border-radius: 50%;
  }
  &.filled {
    height: 14px;
    border-top: solid 3px $grey;
    border-bottom: solid 4px $grey;
    &:before {
      top: -2px;
      background-color: $white;
    }
    &:after {
      bottom: -3px;
      background-color: $white;
    }
  }
}
.tablet.icon {
  left: 2px;
  top: 1px;
  width: 15px; 
  height: 17px;
  border-radius: 2px;
  border: solid 1px $grey;
  &:before {
    top: 1px;
    left: 1px;
    height: 11px;
    width: 11px;
    border: solid 1px $grey;
  }
  &:after {
    bottom: 1px;
    left: 6px;
    width: 3px;
    height: 1px;
    background-color: $grey;
  }
  &.filled {
    left: 2px;
    width: 15px; 
    height: 14px;
    border-top: solid 2px $grey;
    border-bottom: solid 3px $grey;
    &:before {
      border: none;
    }
    &:after {
      bottom: -2px;
      left: 6px;
      background-color: $white;
    }
  }
}
.picture.icon {
  left: 2px;
  top: 2px;
  width: 15px;
  height: 15px;
  border: solid 1px $grey;
  border-radius: 2px;
  &:before {
    left: 2px;
    top: 2px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    border: solid 1px $grey;
  }
  &:after {
    left: 2px;
    top: 9px;
    border-top: solid 1px $grey;
    border-right: solid 1px $grey;
    width: 12px;
    height: 8px;
    transform: rotate(-45deg);
  }
  &.filled {
    background-color: $grey;
    &:before {
      border-color: $white;
      background-color: $white;
    }
    &:after {
      border-color: $white;
    }
  }
}
.watch.icon {
  width: 5px;
  height: 19px;
  border: solid 1px $grey;
  border-radius: 1px;
  &:before {
    left: -4px;
    top: 3px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: solid 1px $grey;
    background-color: $white;
  }
  &:after {
    left: 2px;
    top: 5px;
    border-left: solid 1px $grey;
    border-bottom: solid 1px $grey;
    width: 3px;
    height: 4px;
  }
  &.filled {
    background-color: $grey;
    &:before {
      left: -5px;
      top: 2px;
      width: 13px;
      height: 13px;
      border-color: $white;
      background-color: $grey;
    }
    &:after {
      border-color: $white;
    }
  }
}
.target.icon {
  left: 1px;
  top: 1px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: solid 1px $grey; 
  &:before,
  &:after {
    width: 6px;
    height: 6px;
    border: 1px solid $white;
    border-radius: 50%;
    left: 4px;
    top: 4px;
    z-index: 1;
  }
  &:before {
    box-shadow: -6px 0 0 -3px $grey, 6px 0 0 -3px $grey, 0 -6px 0 -3px $grey, 0 6px 0 -3px $grey;
  }
  &:after {
    box-shadow: -7px 0 0 -3px $grey, 7px 0 0 -3px $grey, 0 -7px 0 -3px $grey, 0 7px 0 -3px $grey;
  }
  &.filled {
    background-color: $grey;
    &:before,
    &:after {
      border-color: $grey;
    }
    &:before {
      box-shadow: -8px 0 0 -3px $white, 8px 0 0 -3px $white, 0 -8px 0 -3px $white, 0 8px 0 -3px $white;
    }
    &:after {
      box-shadow: -7px 0 0 -3px $white, 7px 0 0 -3px $white, 0 -7px 0 -3px $white, 0 7px 0 -3px $white;
    }
  }
}
.navigate.icon {
  width: 14px;
  height: 18px;
  transform: rotate(45deg);
  &:before {
    left: 0;
    top: -17px;
    width: 0;
    height: 0;
    border-top: solid 18px transparent;
    border-bottom: solid 18px $grey;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
  }
  &:after {
    left: 0;
    top: 9px;
    width: 0;
    height: 0;
    border-top: solid 5px transparent;
    border-bottom: solid 5px $white;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
  }
  i {
    width: 10px;
    height: 14px;
    left: 2px;
    top: 3px;
    &:before {
      left: 0;
      top: -14px;
      width: 0;
      height: 0;
      border-top: solid 14px transparent;
      border-bottom: solid 14px $white;
      border-left: solid 5px transparent;
      border-right: solid 5px transparent;
    }
    &:after {
      left: 0;
      top: 6px;
      width: 0;
      height: 0;
      border-top: solid 4px transparent;
      border-bottom: solid 4px $grey;
      border-left: solid 5px transparent;
      border-right: solid 5px transparent;
    }
  }
}
.float.icon {
  width: 15px;
  height: 15px;
  border: solid 1px $grey;
  border-radius: 50%;
  &:before,
  &:after {
    width: 17px;
    height: 1px;
    background-color: $grey;
    top: 7px;
    left: -1px;
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
  i {
    width: 7px;
    height: 7px;
    background-color: $white;
    border: solid 1px $grey;
    border-radius: 50%;
    left: 3px;
    top: 3px;
    z-index: 2;
  }
  &.filled {
    background-color: $grey;
    &:before, 
    &:after {
      background-color: $white;
    }
    i {
      border: none;
      left: 4px;
      top: 4px;
    }
  }
}
.cloud.icon {
  width: 5px;
  height: 6px;
  border-left: solid 1px $grey;
  border-top: solid 1px $grey;
  border-bottom: solid 1px $grey;
  border-radius: 4px 0 0 4px;
  left: 1px;
  top: 9px;
  &:before {
    width: 12px;
    height: 12px;
    border-left: solid 1px transparent;
    border-right: solid 1px $grey;
    border-top: solid 1px $grey;
    border-bottom: solid 1px $grey;
    border-radius: 50%;
    transform: rotate(-45deg);
    top: -7px;
    left: 4px;
  }
  &:after {
    width: 7px;
    height: 6px;
    background-color: transparent;
    border-bottom: solid 1px $grey;
    top: 0px;
    left: 4px;
  }
  .upArrow {
    left: 5px;
    top: -4px;
    z-index: 2;
  }
  .downArrow {
    left: 5px;
    top: -4px;
    z-index: 2;
  }
  &.filled {
    background-color: $grey;
    &:before,
    &:after {
      background-color: $grey;
    }
    .upArrow {
      &:before {
        background-color: $white;
        border: none;
        left: 5px;
      }
      &:after {
        border-color: $white;
      }
    }
    .downArrow {
      top: -5px;
      &:before {
        background-color: $white;
        border: none;
        left: 5px;
      }
      &:after {
        border-color: $white;
      }
    }
  }
}
.upArrow {
  &:before {
    width: 1px;
    height: 7px;
    background-color: $grey;
    border-left: solid 4px $white;
    border-right: solid 4px $white;
    top: 4px;
    left: 1px;
  }
  &:after {
    width: 4px;
    height: 4px;
    border-top: solid 1px $grey;
    border-right: solid 1px $grey;
    transform: rotate(-45deg);
    left: 3px;
    top: 4px;
  }
}
.downArrow {
  &:before {
    width: 1px;
    height: 7px;
    background-color: $grey;
    border-left: solid 4px $white;
    border-right: solid 4px $white;
    top: 4px;
    left: 1px;
  }
  &:after {
    width: 4px;
    height: 4px;
    border-top: solid 1px $grey;
    border-right: solid 1px $grey;
    transform: rotate(135deg);
    left: 3px;
    top: 6px;
  }
}
.more.icon {
  left: 9px;
  top: 9px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: solid 1px $grey;
  &:before,
  &:after {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    border: solid 1px $grey;
    top: -1px;
  }
  &:before {
    left: -8px;
  }
  &:after {
    left: 6px;
  }
  &.filled {
    background-color: $grey;
    &:before,
    &:after {
      background-color: $grey;
    }
  }
}
.vmore.icon {
  left: 9px;
  top: 9px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: solid 1px $grey;
  &:before,
  &:after {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    border: solid 1px $grey;
    left: -1px;
  }
  &:before {
    top: -8px;
  }
  &:after {
    top: 6px;
  }
  &.filled {
    background-color: $grey;
    &:before,
    &:after {
      background-color: $grey;
    }
  }
}
.mouse.icon {
  width: 11px;
  height: 17px;
  border: solid 1px $grey;
  border-radius: 6px;
  &:before {
    width: 13px;
    height: 1px;
    background-color: $grey;
    top: 6px;
    left: -1px;
  }
  &:after {
    width: 1px;
    height: 7px;
    background-color: $grey;
    left: 5px;
    top: -1px;
  }
  &.filled {
    background-color: $grey;
    &:before,
    &:after {
      background-color: $white;
    }
  }
}
.keyboard.icon {
  width: 17px;
  height: 11px;
  border-radius: 2px;
  border: solid 1px $grey;
  &:before {
    left: 7px;
    top: 3px;
    width: 1px;
    height: 1px;
    border: 1px solid transparent;
    box-shadow: 
      -2px 0 0 -1px $grey, 
      2px 0 0 -1px $grey, 
      0 -2px 0 -1px $grey, 
      0 2px 0 -1px $grey, 
      -6px 0 0 -1px $grey, 
      6px 0 0 -1px $grey, 
      -4px -2px 0 -1px $grey, 
      -4px 2px 0 -1px $grey, 
      4px -2px 0 -1px $grey, 
      4px 2px 0 -1px $grey;
  }
  &:after {
    width: 9px;
    height: 1px;
    background-color: $grey;
    bottom: 1px;
    left: 4px;
  }
  &.filled {
    background-color: $grey;
    &:before {
    box-shadow: 
      -2px 0 0 -1px $white, 
      2px 0 0 -1px $white, 
      0 -2px 0 -1px $white, 
      0 2px 0 -1px $white, 
      -6px 0 0 -1px $white, 
      6px 0 0 -1px $white, 
      -4px -2px 0 -1px $white, 
      -4px 2px 0 -1px $white, 
      4px -2px 0 -1px $white, 
      4px 2px 0 -1px $white;
    }
    &:after {
      background-color: $white;
    }
  }
}
.calendar3.icon {
  width: 16px;
  height: 13px;
  border: solid 1px $grey;
  border-radius: 1px;
  &:before {
    left: 4px;
    top: -3px;
    width: 6px;
    height: 5px;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
  }
  &:after {
    left: 6px;
    top: 0px;
    width: 2px;
    height: 1px;
    border: 1px solid transparent;
    box-shadow: 
       0   9px 0 -1px $grey, 
      -4px 9px 0 -1px $grey, 
       4px 9px 0 -1px $grey,
       0   6px 0 -1px $grey, 
      -4px 6px 0 -1px $grey, 
       4px 6px 0 -1px $grey,
       0   3px 0 -1px $grey, 
      -4px 3px 0 -1px $grey, 
       4px 3px 0 -1px $grey;
  }
  &.filled {
    background-color: $grey;
    &:after {
      box-shadow: 
         0   9px 0 -1px $white, 
        -4px 9px 0 -1px $white, 
         4px 9px 0 -1px $white,
         0   6px 0 -1px $white, 
        -4px 6px 0 -1px $white, 
         4px 6px 0 -1px $white,
         0   3px 0 -1px $white, 
        -4px 3px 0 -1px $white, 
         4px 3px 0 -1px $white;
    }
  }
}
.calendar2.icon {
  width: 16px;
  height: 14px;
  border: solid 1px $grey;
  border-radius: 1px;
  &:before {
    left: 5px;
    top: -3px;
    width: 4px;
    height: 5px;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    box-shadow: 
       0   12px 0 -2px $grey, 
      -4px 12px 0 -2px $grey, 
       4px 12px 0 -2px $grey,
       0   9px 0 -2px $grey, 
      -4px 9px 0 -2px $grey, 
       4px 9px 0 -2px $grey,
       0   6px 0 -2px $grey, 
      -4px 6px 0 -2px $grey, 
       4px 6px 0 -2px $grey;
  }
  &:after {
    left: -1px;
    top: 2px;
    width: 18px;
    height: 1px;
    background-color: $grey;
  }
  &.filled {
    background-color: $grey;
    &:before {
      box-shadow: 
         0   12px 0 -2px $white, 
        -4px 12px 0 -2px $white, 
         4px 12px 0 -2px $white,
         0   9px 0 -2px $white, 
        -4px 9px 0 -2px $white, 
         4px 9px 0 -2px $white,
         0   6px 0 -2px $white, 
        -4px 6px 0 -2px $white, 
         4px 6px 0 -2px $white;
    }
    &:after {
      background-color: $white;
    }
  }
}
.calendar.icon {
  width: 16px;
  height: 13px;
  border: solid 1px $grey;
  border-radius: 1px;
  &:before {
    left: 4px;
    top: -3px;
    width: 6px;
    height: 5px;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
  }
  &:after {
    left: -1px;
    top: 3px;
    width: 18px;
    height: 1px;
    background-color: $grey;
  }
  &.filled {
    background-color: $grey;
    &:after {
      top: 2px;
      background-color: $white;
    }
    &.checkI i{
      border-color: $white;
    }
    &.removeI i{
      &:before,
      &:after {
        background-color: $white;
      }
    } 
    &.contact i{
      &:before, 
      &:after {
        border-color: $white;
      }
    }
    &.paragraph i{
      &:before {
        border-color: $white;
      }
      &:after {
        background-color: $white;
      }
    }
  }
  &.checkI i{
    width: 7px;
    height: 4px;
    border-left: solid 1px $grey;
    border-bottom: solid 1px $grey;
    transform: rotate(-45deg);
    left: 4px;
    top: 4px;
  }
  &.removeI i{
    &:before,
    &:after {
      width: 8px;
      height: 1px;
      background-color: $grey;
      left: 4px;
      top: 8px;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
  &.contact {
    &:after {
      height: 0;
    }
    i {
      left: 5px;
      top: 3px;
      &:before {
        width: 4px;
        height: 4px;
        border: solid 1px $grey;
        border-radius: 50%;
      }
      &:after {
        left: -2px;
        top: 5px;
        width: 8px;
        height: 3px;
        border-top: solid 1px $grey;
        border-left: solid 1px $grey;
        border-right: solid 1px $grey;
        border-radius: 4px 4px 0 0;
      }
    }
  }
  &.paragraph i{
    left: 3px;
    top: 6px;
    &:before {
      width: 10px;
      height: 1px;
      border-top: solid 1px $grey;
      border-bottom: solid 1px $grey;
    }
    &:after {
      left: 0px;
      top: 4px;
      width: 6px;
      height: 1px;
      background-color: $grey;
    }
  }
}
.face.icon {
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: solid 1px $grey;
  &.filled {
    background-color: $grey;
    &:before,
    &:after {
      border-color: $grey;
      background-color: $white;
    }
    &.smile i{
      border-bottom: solid 1px $white;
    }
    &.tongue i{
      background-color: $white;
      &:before {
        border-top: solid 1px transparent;
        border-right: solid 1px transparent;
        border-bottom: solid 1px $white;
        border-left: solid 1px $white;
      }
    }
    &.laugh i{
      border-color: $white;
    }
    &.teethlaugh i{
      border-color: $white;
      &:before {
        border-left: solid 1px $white;
        border-right: solid 1px $white;
      }
    }
    &.bigsmile i{
      border-bottom: solid 1px $white;
      border-left: solid 1px $white;
      border-right: solid 1px $white;
    } 
    &.sad i{
      border-top: solid 1px $white;
    }
    &.doublewink {
      &:before,
      &:after {
        background-color: transparent;
        border-bottom: solid 1px $white;
        border-left: solid 1px $white;
      }
    }
  }
  &:before,
  &:after {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    border: solid 1px $grey;
  }
  &:before {
    left: 3px;
    top: 3px;
  }
  &:after {
    right: 3px;
    top: 3px;
  }
  &.smile i{
    left: 3px;
    top: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border-top: solid 1px transparent;
    border-bottom: solid 1px $grey;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
  }
  &.tongue i{
    left: 4px;
    top: 10px;
    width: 8px;
    height: 1px;
    background-color: $grey;
    transform: rotate(-3deg);
    &:before {
      top: -1px;
      right: 0px;
      width: 2px;
      height: 2px;
      transform: rotate(-45deg);
      border-radius: 2px;
      border-top: solid 1px transparent;
      border-right: solid 1px transparent;
      border-bottom: solid 1px $grey;
      border-left: solid 1px $grey;
    }
  }
  &.laugh i{
    left: 2px;
    top: 9px;
    width: 10px;
    height: 4px;
    border-radius: 0 0 6px 6px;
    border-top: solid 1px $grey;
    border-bottom: solid 1px $grey;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
  }
  &.teethlaugh i{
    left: 2px;
    top: 9px;
    width: 10px;
    height: 4px;
    border-radius: 0 0 6px 6px;
    border-top: solid 1px $grey;
    border-bottom: solid 1px $grey;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    &:before {
      left: 3px;
      top: 0px;
      width: 2px;
      height: 4px;
      border-left: solid 1px $grey;
      border-right: solid 1px $grey;
    }
  }
  &.bigsmile i{
    left: 2px;
    top: 9px;
    width: 10px;
    height: 4px;
    border-radius: 0 0 6px 6px;
    border-top: solid 1px transparent;
    border-bottom: solid 1px $grey;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
  }
  &.wink:before {
    border-top: solid 1px transparent;
    border-right: solid 1px transparent;
    border-bottom: solid 1px $grey;
    border-left: solid 1px $grey;
    transform: rotate(-45deg);
  }
  &.doublewink {
    &:before,
    &:after {
      border-top: solid 1px transparent;
      border-right: solid 1px transparent;
      border-bottom: solid 1px $grey;
      border-left: solid 1px $grey;
      transform: rotate(-45deg);
    }
  }
  &.sad i{
    left: 3px;
    top: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border-top: solid 1px $grey;
    border-bottom: solid 1px transparent;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
  }
}
.circle.icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 1px $grey;
}
.square.icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: solid 1px $grey;
}
.circle.icon,
.square.icon {
  &.plusI.icon {
    left: 2px;
    top: 2px;
    &:before,
    &:after {
      width: 7px;
      height: 1px;
      background-color: $grey;
      left: 4px;
      top: 7px;
    }
    &:after {
      transform: rotate(90deg);
    }
    &.filled {
      background: $grey;
      &:before,
      &:after {
        background-color: $white;
      }
    }
  }
  &.minusI.icon {
    left: 2px;
    top: 2px;
    &:before{
      width: 7px;
      height: 1px;
      background-color: $grey;
      left: 4px;
      top: 7px;
    }
    &.filled {
      background: $grey;
      &:before{
        background-color: $white;
      }
    }
  }
  &.checkI.icon {
    left: 2px;
    top: 2px;
    &:before{
      left: 4px;
      top: 4px;
      width: 7px;
      height: 4px;
      border-bottom: solid 1px $grey;
      border-left: solid 1px $grey;
      transform: rotate(-45deg);
    }
    &.filled {
      background: $grey;
      &:before{
        border-color: $white;
      }
    }
  }
  &.removeI.icon {
    left: 2px;
    top: 2px;
    &:before,
    &:after {
      left: 3px;
      top: 7px;
      width: 9px;
      height: 1px;
      background-color: $grey;
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &.filled {
      background: $grey;
      &:before,
      &:after {
        background-color: $white;
      }
    }
  }
}
.plus.icon {
  left: 3px;
  top: 10px;
  &:before,
  &:after {
    width: 15px;
    height: 1px;
    background-color: $grey;
  }
  &:after {
    transform: rotate(90deg);
  }
}
.minus.icon {
  left: 3px;
  top: 10px;
  width: 15px;
  height: 1px;
  background-color: $grey;
}
.check.icon {
    left: 3px;
    top: 4px;
    width: 14px;
    height: 8px;
    border-bottom: solid 1px $grey;
    border-left: solid 1px $grey;
    transform: rotate(-45deg);
}
.remove.icon {
  left: 3px;
  top: 10px;
  &:before,
  &:after {
    width: 15px;
    height: 1px;
    background-color: $grey;
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}