@import '../../mixin';
.search-solid.icon {
  &:after {
    @include pseudo();
    left: 1px;
    top: 1px;
    width: 10px;
    height: 10px;
    background-color: currentColor;
    border-radius: 50%;
  }
}
