.key-solid.icon {
  color: #000;
  position: absolute;
  margin-left: 1px;
  margin-top: 6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}
