  <!-- <div class="iconWrapper">
      <div class="search icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="search filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="search-plusI icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="search-plusI filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="search-minusI icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="search-minusI filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="close icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="hamburger icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="arrowLeft icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="arrowRight icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="arrowUp icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="arrowDown icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="plus icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="minus icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="check icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="remove icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="trash icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="trash filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="audio icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="audio filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="pin icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="pin filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="chat icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="chat filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="stop icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="stop filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="clock h3m0 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="clock filled h3m0 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="clock h3 m30 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="clock filled h3 m30 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="clock h9m0 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="clock filled h9m0 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="clock h9m30 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="clock filled h9m30 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="profile icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="profile filled icon"></div>
  </div> -->
  

  <!-- 
  deal with them later
  <div class="iconWrapper">
      <div class="calendar3 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="calendar3 filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="calendar2 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="calendar2 filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="calendar icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="calendar filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="calendar checkI icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="calendar filled checkI icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="calendar removeI icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="calendar filled removeI icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="calendar contact icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="calendar filled contact icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="calendar paragraph icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="calendar filled paragraph icon"><i></i></div>
  </div> -->




  <!-- <div class="iconWrapper">
      <div class="bell icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="bell filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="heart icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="heart filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="print icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="print filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="edit icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="edit filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="link icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="map icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="mail icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="mail filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="bookmark icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="bookmark filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="camera icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="camera filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="focus icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="card icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="card filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="lock icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="lock filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="lock unlocked icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="lock unlocked filled icon"></div>
  </div> -->

  <!-- 
  save for later
  <div class="iconWrapper">
      <div class="volume icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="volume icon"><i class="volumeMute icon"></i></div>
  </div>
  <div class="iconWrapper">
      <div class="volume icon"><i class="volumePlus icon"></i></div>
  </div>
  <div class="iconWrapper">
      <div class="volume icon"><i class="volumeMinus icon"></i></div>
  </div>
  <div class="iconWrapper">
      <div class="volume icon"><i class="volumeOne icon"></i></div>
  </div>
  <div class="iconWrapper">
      <div class="volume icon"><i class="volumeTwo icon"></i></div>
  </div>
  <div class="iconWrapper">
      <div class="volume icon"><i class="volumeThree icon"></i></div>
  </div>
  <div class="iconWrapper">
      <div class="volume filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="volume filled icon"><i class="volumeMute icon"></i></div>
  </div>
  <div class="iconWrapper">
      <div class="volume filled icon"><i class="volumeOne icon"></i></div>
  </div>
  <div class="iconWrapper">
      <div class="volume filled icon"><i class="volumeTwo icon"></i></div>
  </div>
  <div class="iconWrapper">
      <div class="volume filled icon"><i class="volumeThree icon"></i></div>
  </div>
  <div class="iconWrapper">
      <div class="volume filled icon"><i class="volumePlus icon"></i></div>
  </div>
  <div class="iconWrapper">
      <div class="volume filled icon"><i class="volumeMinus icon"></i></div>
  </div> 

  <div class="iconWrapper">
      <div class="shut icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="shut-right icon"></div>
  </div>
  -->

  <!-- 
  <div class="iconWrapper">
      <div class="code icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="flag icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="flag filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="tag icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="tag filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="signal icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="export icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="export2 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="download icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="download2 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="upload icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="shutdown icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="paperclip icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="retweet icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="key icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="key filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="key2 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="key2 filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="refresh icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="pilcrow icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="pilcrow filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="justified icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="paragraph-direction icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="leftaligned icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="centered icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="rightaligned icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="indent icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="outdent icon"></div>
  </div> -->
  <!-- 
  <div class="iconWrapper">
      <div class="mouse icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="mouse filled icon"></div>
  </div>
  
  <div class="iconWrapper">
      <div class="keyboard icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="keyboard filled icon"></div>
  </div>
  
  <div class="iconWrapper">
      <div class="doubleQuoteLeft icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="doubleQuoteLeft filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="doubleQuoteRight icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="doubleQuoteRight filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="singleQuoteLeft icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="singleQuoteLeft filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="singleQuoteRight icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="singleQuoteRight filled icon"></div>
  </div>

  <div class="iconWrapper">
      <div class="mustache icon"></div>
  </div> 
  <div class="iconWrapper">
      <div class="mustache-solid icon"><i></i></div>
  </div>


  <div class="iconWrapper">
      <div class="eye icon"></div>
  </div>

  <div class="iconWrapper">
      <div class="eye-solid icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="eye-solid2 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="eye-solid3 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="battery icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="battery batteryOne icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="battery batteryTwo icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="battery batteryThree icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="battery filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="battery filled batteryOne icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="battery filled batteryTwo icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="battery filled batteryThree icon"></div>
  </div>


  <div class="iconWrapper">
      <div class="bag icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="bag filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="bag filled2 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="bag filled3 icon"></div>
  </div>


  <div class="iconWrapper">
      <div class="browser icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="browser filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="tv icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="tv filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="laptop icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="laptop filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="mobile icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="tablet icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="mobile filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="tablet filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="picture icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="picture filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="watch icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="watch filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="target icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="target filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="navigate icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="navigate icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="float icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="float filled icon"><i></i></div>
  </div>-->




  <!-- 
  <div class="iconWrapper">
      <div class="more icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="more-solid icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="more-vertical icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="more-vertical-solid icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="face smile icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face filled smile icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face wink smile icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face tongue icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face filled tongue icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face wink tongue icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face doublewink smile icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face filled doublewink smile icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face laugh icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face wink laugh icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face filled laugh icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face teethlaugh icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face wink teethlaugh icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face filled teethlaugh icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face bigsmile icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face filled bigsmile icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face wink bigsmile icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face doublewink bigsmile icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face filled doublewink bigsmile icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face sad icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face filled sad icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face doublewink sad icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="face filled doublewink sad icon"><i></i></div>
  </div> -->


  
  <div class="iconWrapper">
      <div class="circle plusI icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="circle plusI filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="circle minusI icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="circle minusI filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="circle checkI icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="circle checkI filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="circle removeI icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="circle removeI filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="square plusI icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="square plusI filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="square minusI icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="square minusI filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="square checkI icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="square checkI filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="square removeI icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="square removeI filled icon"></div>
  </div>
  <!-- End of first batch, around 200 icons -->
  <div class="iconWrapper">
    <div class="cmd icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="option icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="shift icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="hard-drive icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="hard-drive filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="terminal icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="terminal filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="coffee-cup icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="coffee-cup filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="value-slider icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="value-slider filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="headphone icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="headphone filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="infinite icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="crop icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="asterisk icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="pie-chart icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="pie-chart filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="bar-chart icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="bar-chart-filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="line-chart icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="toggle-button icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="toggle-button filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="play-button icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="play-button filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="filter icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="folder icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="folder filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="square-pin icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="square-pin filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="ruler icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="ruler filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="piano icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="piano filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="film icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="film filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="eyedropper icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="shop2 icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="shop2 filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="shop icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="shop-filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="music-note icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="share icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="share-filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="house icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="house filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="insert2 icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="insert2 filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="equalizer icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="equalizer filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="video-camera icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="video-camera filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="back-play icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="back-play-filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="play icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="play-filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="pause icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="pause filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="stop-music icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="stop-music filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="backward icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="backward-filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="forward icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="forward-filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="next icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="next-filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="previous icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="previous-filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="first icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="first-filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="last icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="last-filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="record icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="record filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="record-video icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="record-video filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="previous-next icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="previous-next-filled icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="note-tree icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="layout-left-column icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="layout-left-column-filled icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="layout-right-column icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="layout-right-column-filled icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="layout-three-column icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="layout-three-column-filled icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="layout-1 icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="layout-1 filled icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="layout-2 icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="layout-2 filled icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="layout-3 icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="layout-3 filled icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="layout-4 icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="layout-4 filled icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="trophy icon"><i></i></div>
  </div>
  <div class="iconWrapper">
    <div class="trophy filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
    <div class="speedmeter icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="speedmeter filled icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="shooting-target icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="shooting-target filled icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="clipboard icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="clipboard filled icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="airplay icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="reply icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="reply-all icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="forward-email icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="reply-all-reflect icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="control icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="control filled icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="cart icon"><i></i></div>
  </div>
  <div class="iconWrapper">
    <div class="cart-filled icon"><i></i></div>
  </div>
  <!-- End of css icon 5, around 100 icons -->

  <div class="iconWrapper">
      <div class="allBorders icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="outsideBorders icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="insideBorders icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="noBorder icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="leftBorder icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="rightBorder icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="topBorder icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="bottomBorder icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="verticalCenterBorders icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="horizontalCenterBorders icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="globe icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="globe filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="wine-glass icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="wine-glass filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="cocktail-glass icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="cocktail-glass filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="plug icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="plug filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="mirror-horizontal icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="mirror-vertical icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="mirror-horizontal-filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="mirror-vertical-filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="flip-horizontal icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="flip-vertical icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="flip-horizontal-filled icon"></div>
  </div>
  <div class="iconWrapper">
    <div class="flip-vertical-filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="cloud icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="cloud filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="cloud snow icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="cloud rain icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="cloud rain-drop icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="cloud lightningI icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="cloud down-arrow icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="cloud up-arrow icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="cloud down-arrow filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="cloud up-arrow filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="moon icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="moon filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="sun icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="sun filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="sun sun-brightness icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="sun-raindrop icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="sun-raindrop filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="sun-horizon icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="sun-horizon filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="sun-horizon sun-rise icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="sun-horizon sun-rise filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="sun-horizon sun-set icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="sun-horizon sun-set filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="voice-mail icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="raindrop icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="raindrop filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="raindrop-percent icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="raindrop-percent filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="raindrop-nodrop icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="umbrella icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="umbrella filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="thermometer icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="thermometer filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="windy icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="lightning icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="lightning-filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="celsius icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="fahrenheit icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="tree icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="anchor icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="contrast icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="contrast filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="alert-square icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="alert-square filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="alert-circle icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="alert-circle filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="flash-drive icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="flash-drive filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="rotate-clockwise icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="rotate-counter-clockwise icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="rotate-square-clockwise icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="rotate-square-counter-clockwise icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="refresh-clockwise icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="refresh-counter-clockwise icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="connection icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="connection2 icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="sign-in icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="sign-out icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="grid-4 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="grid-4 filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="grid-9 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="grid-9 filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="dial icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="dial filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="list icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="list filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="list-circle icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="list-circle-filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="list-square icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="list-square-filled icon"></div>
  </div>
  <!-- End of css icon 6, around 100 icons -->
  <div class="iconWrapper">
      <div class="sync1 icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="sync1 filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="sync2 icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="sync2 filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="barcode icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="barcode2 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="pill icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="pill2 icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="alarm icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="alarm filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="syringe icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="syringe filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="minusFront icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="minusFront filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="unite icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="unite filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="intersect icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="intersect filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="exclude icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="exclude filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="glasses icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="glasses filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="sunGlasses icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="sunGlasses filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="bowTie icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="bowTie filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="tie icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="tieFilled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="shirt icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="shirt filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="clothesButton icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="clothesButton filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="bankNote icon">$</div>
  </div>
  <div class="iconWrapper">
      <div class="bankNote filled icon">$</div>
  </div>
  <div class="iconWrapper">
      <div class="bankNote icon">€</div>
  </div>
  <div class="iconWrapper">
      <div class="bankNote filled icon">€</div>
  </div>
  <div class="iconWrapper">
      <div class="bankNote icon">£</div>
  </div>
  <div class="iconWrapper">
      <div class="bankNote filled icon">£</div>
  </div>
  <div class="iconWrapper">
      <div class="bankNote icon">¥</div>
  </div>
  <div class="iconWrapper">
      <div class="bankNote filled icon">¥</div>
  </div>
  <div class="iconWrapper">
      <div class="dashboard icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="dashboard filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="dashboardLow icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="dashboardLow filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="dashboardHigh icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="dashboardHigh filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="verticalAlignCenter icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="verticalAlignCenter halfFilled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="verticalAlignCenter filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="verticalAlignTop icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="verticalAlignTop halfFilled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="verticalAlignTop filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="verticalAlignBottom icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="verticalAlignBottom halfFilled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="verticalAlignBottom filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="horizontalAlignCenter icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="horizontalAlignCenter halfFilled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="horizontalAlignCenter filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="horizontalAlignLeft icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="horizontalAlignLeft halfFilled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="horizontalAlignLeft filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="horizontalAlignRight icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="horizontalAlignRight halfFilled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="horizontalAlignRight filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="hammer icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="hammerFilled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="wrench icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="wrenchFilled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="sorting icon">AZ</div>
  </div>
  <div class="iconWrapper">
      <div class="sorting icon">ZA</div>
  </div>
  <div class="iconWrapper">
      <div class="sorting icon">09</div>
  </div>
  <div class="iconWrapper">
      <div class="sorting icon">90</div>
  </div>
  <div class="iconWrapper">
      <div class="compass icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="compass filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="moveDown icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="moveUp icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="moveLeft icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="moveRight icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="moveHorizontalCenter icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="moveVerticalCenter icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="insertPages icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="insertPages filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="insert icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="insert filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="board icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="board filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="podium icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="podium filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="socket icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="socket filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="barbell icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="barbell filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="detail icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="detail filled icon"></div>
  </div>
  <div class="iconWrapper">
      <div class="detail detail-plus icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="detail detail-plus filled icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="detail detail-minus icon"><i></i></div>
  </div>
  <div class="iconWrapper">
      <div class="detail detail-minus filled icon"><i></i></div>
  </div>
