@import '../../mixin';
.clock-h9m30-solid.icon {
  &:after {
    @include pseudo();
    top: 7px;
    left: 7px;
    width: 1px;
    height: 6px;
    color: white;
    background-color: currentColor;
    transform-origin: 0% 0%;
  }
}
