.cloud-lightning.icon i:after {
  content: '';
  position: absolute;
  top: -1px;
  left: 4px;
  width: 0;
  height: 0;
  border-left: solid 4px currentColor;
  border-bottom: solid 7px transparent;
}
