.retweet.icon:before {
  content: '';
  position: absolute;
  left: -3px;
  top: -2px;
  width: 0;
  height: 0;
  border-top: solid 3px white;
  border-bottom: solid 3px currentColor;
  border-left: solid 3px white;
  border-right: solid 3px white;
}
