@import '../../mixin';
.heart.icon {
  &:after {
    @include pseudo();
    top: 0px;
    left: 8px;
    width: 5px;
    height: 8px;
    border-radius: 0 5px 5px 0;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
  }
}
