@import 'typography';
@import 'layout';
@import 'iconography';

@import 'icons';

$highlightColor: red;
@media screen and ( min-height: 550px ){
  .codeBlocks {
    position: absolute;
    top: 289px;
    left: 20px;
    right: 0;
    bottom: 0;
    padding-bottom: 20px;
    padding-right: 20px;
    overflow: auto;
    .codeBlockHight {
      cursor: pointer;
      &:hover {
        background-color: black;
        color: $highlightColor;
      }
    }
  }
}

.viewer.cssIconHover .iconWrapperBig {
  .icon {   
    color: $highlightColor;
    z-index: 9;
  }
  .icon:before{
    color: black;
  }
  .icon:after {
    color: black;
  }
  .icon i {   
    color: black;
  }
  .icon i:before{
    color: black;
  }
  .icon i:after {
    color: black;
  } 
}
.viewer.cssIconBeforeHover .iconWrapperBig {
  .icon {   
    color: black;
  }
  .icon:before{
    color: $highlightColor;
    z-index: 9;
  }
  .icon:after {
    color: black;
  }
  .icon i {   
    color: black;
  }
  .icon i:before{
    color: black;
  }
  .icon i:after {
    color: black;
  } 
}
.viewer.cssIconAfterHover .iconWrapperBig {
  .icon {   
    color: black;
  }
  .icon:before{
    color: black;
  }
  .icon:after {
    color: $highlightColor;
    z-index: 9;
  }
  .icon i {   
    color: black;
  }
  .icon i:before{
    color: black;
  }
  .icon i:after {
    color: black;
  } 
}
.viewer.cssChildHover .iconWrapperBig {
  .icon {
    color: black;
  }
  .icon:before{
    color: black;
  }
  .icon:after {
    color: black;
  }
  .icon i {   
    color: $highlightColor;
    z-index: 9;
  }
  .icon i:before{
    color: black;
  }
  .icon i:after {
    color: black;
  } 
}
.viewer.cssChildBeforeHover .iconWrapperBig {
  .icon {   
    color: black;
  }
  .icon:before{
    color: black;
  }
  .icon:after {
    color: black;
  }
  .icon i {   
    color: black;
  }
  .icon i:before{
    color: $highlightColor;
    z-index: 9;
  }
  .icon i:after {
    color: black;
  } 
}
.viewer.cssChildAfterHover .iconWrapperBig {
  .icon {   
    color: black;
  }
  .icon:before{
    color: black;
  }
  .icon:after {
    color: black;
  }
  .icon i {   
    color: black;
  }
  .icon i:before{
    color: black;
  }
  .icon i:after {
    color: $highlightColor;
    z-index: 9;
  } 
}
