@import '../../mixin';
.grin-wink.icon {
  &:after {
    @include pseudo();
    right: 3px;
    top: 3px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    border: solid 1px currentColor;
  }
}
