@import '../../mixin';
.more.icon {
  &:after {
    @include pseudo();
    top: -1px;
    left: 6px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    border: solid 1px currentColor;
  }
}
