@import '../../mixin';
.suitcase-1.icon {
  &:before {
    @include pseudo();
    left: 4px;
    top: -3px;
    width: 5px;
    height: 2px;
    border-radius: 3px 3px 0 0;
    border-top: solid 1px currentColor;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
  }
}
