@import '../../mixin';
.card-solid.icon {
  &:after {
    @include pseudo();
    right: 1px;
    bottom: 2px;
    width: 4px;
    height: 1px;
    color: white;
    background-color: currentColor;
  }
}
