.beard.icon:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 4px;
  left: 13px;
  top: 4px;
  border-radius: 0 0 100% 0;
  border: 0 solid transparent;
  border-bottom: 6px solid currentColor;
  -webkit-transform-origin: left 7px;
          transform-origin: left 7px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
