.mustache.icon i:after {
  content: '';
  position: absolute;
  left: 13px;
  top: 6px;
  width: 6px;
  height: 3px;
  color: white;
  border: 0 solid transparent;
  border-bottom: 4px solid currentColor;
  border-radius: 0 0 100% 0;
  -webkit-transform-origin: left 5px;
          transform-origin: left 5px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
