@import '../../mixin';
.watch-solid.icon {
  &:before {
    @include pseudo();
    left: -5px;
    top: 2px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: solid 1px white;
    background-color: currentColor;
  }
}
