@import '../../mixin';
.stop.icon {
  &:before {
    @include pseudo();
    top: 7px;
    left: -1px;
    width: 17px;
    height: 1px;
    background-color: currentColor;
    transform: rotate(45deg);
  }
}
