@import '../../mixin';
.laugh.icon {
  &:before {
    @include pseudo();
    left: 3px;
    top: 3px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    border: solid 1px currentColor;
  }
}
