.magnify-solid.icon {
  color: #000;
  position: absolute;
  margin-top: 2px;
  margin-left: 3px;
  width: 12px; 
  height: 12px;
  border: solid 1px currentColor;
  background-color: currentColor;
  border-radius: 100%;
  transform: rotate(-45deg);
}
