@import '../../mixin';
.S.icon {
  &:after {
    @include pseudo();
    left: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    transform: rotate(225deg);
    border-radius: 50%;
    border-top: solid 4px currentColor;
    border-right: solid 4px transparent;
    border-bottom: solid 4px currentColor;
    border-left: solid 4px currentColor;
  }
}
