@import '../../mixin';
.keyboard-solid.icon {
  &:after {
    @include pseudo();
    bottom: 1px;
    left: 4px;
    width: 9px;
    height: 1px;
    color: white;
    background-color: currentColor;
  }
}
