.clock-h9m30-solid.icon:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 3px;
  width: 5px;
  height: 1px;
  color: white;
  background-color: currentColor;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}
