@import '../../mixin';
.grin-solid.icon {
  i {
    &:before {
      @include pseudo();
      left: 3px;
      top: 0px;
      width: 2px;
      height: 4px;
      color: white;
      border-left: solid 1px currentColor;
      border-right: solid 1px currentColor;
    }  
  }
}
