@import '../../mixin';
.float.icon {
  &:after {
    @include pseudo();
    top: 7px;
    left: -1px;
    width: 17px;
    height: 1px;
    transform: rotate(45deg);
    background-color: currentColor;
  }
}
