$grey: #333;
$white: #fff;

.icon {
  position: absolute;
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
  }
  i { 
    position: absolute;
    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
    }
  }
}
.sync1.icon {
  margin: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: solid 1px $grey;
  background-color: $white;
  &:before, 
  &:after {
    width: 4px;
    height: 1px;
    background-color: $grey;
    z-index: 1;
  }
  &:before {
    top: 5px;
    left: -4px;
  }
  &:after {
    top: 6px;
    right: -4px;
  }
  i {
    width: 16px;
    height: 6px;
    background-color: $white;
    left: -2px;
    top: 3px;
    transform: rotate(-22.5deg);
    &:before {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: solid 1px $grey;
      left: 4px;
      top: -1px;
    }
  }
  &.filled {
    i:before {
      background-color: $grey;
    }
  }
}
.sync2.icon {
  margin: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: solid 1px $grey;
  background-color: $white;
  &:before, 
  &:after {
    width: 4px;
    height: 1px;
    background-color: $grey;
    z-index: 1;
  }
  &:before {
    top: 6px;
    left: -4px;
  }
  &:after {
    top: 5px;
    right: -4px;
  }
  i {
    width: 16px;
    height: 6px;
    background-color: $white;
    left: -2px;
    top: 3px;
    transform: rotate(22.5deg);
    &:before {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: solid 1px $grey;
      left: 4px;
      top: -1px;
    }
  }
  &.filled {
    i:before {
      background-color: $grey;
    }
  }
}
.barcode.icon {
  width: 21px;
  height: 21px;
  &:before {
    width: 1px;
    height: 11px;
    left: 1px;
    top: 5px;
    background-color: $grey;
    box-shadow: 
      6px 0 0 0 $grey, 
      12px 0 0 0 $grey, 
      14px 0 0 0 $grey;
  }
  &:after {
    width: 2px;
    height: 11px;
    left: 3px;
    top: 5px;
    background-color: $grey;
    box-shadow: 
      6px 0 0 0 $grey, 
      15px 0 0 0 $grey;
  }
}
.barcode2.icon {
  width: 21px;
  height: 21px;
  &:before {
    width: 1px;
    height: 8px;
    left: 1px;
    top: 5px;
    background-color: $grey;
    box-shadow: 
      2px 0 0 0 $grey, 
      3px 0 0 0 $grey, 
      6px 0 0 0 $grey, 
      8px 0 0 0 $grey, 
      9px 0 0 0 $grey, 
      12px 0 0 0 $grey, 
      14px 0 0 0 $grey, 
      17px 0 0 0 $grey, 
      18px 0 0 0 $grey;
  }
  &:after {
      width: 1px;
      height: 2px;
      left: 1px;
      top: 14px;
      background-color: $grey;
      box-shadow: 
        2px 0 0 0 $grey, 
        3px 0 0 0 $grey, 
        6px 0 0 0 $grey, 
        8px 0 0 0 $grey, 
        9px 0 0 0 $grey, 
        12px 0 0 0 $grey, 
        14px 0 0 0 $grey, 
        17px 0 0 0 $grey, 
        18px 0 0 0 $grey;
  }
}
.pill.icon {
  margin: 1px 6px;
  width: 7px;
  height: 17px;
  border-radius: 4px;
  border: solid 1px $grey;
  &:before {
    width: 7px;
    height: 9px;
    border-radius: 3px 3px 0 0;
    background-color: $grey;
  }
}
.pill2.icon {
  margin: 1px 6px;
  width: 7px;
  height: 17px;
  border-radius: 4px;
  border: solid 1px $grey;
  &:before {
    width: 7px;
    height: 9px;
    top: 8px;
    border-radius: 0 0 3px 3px;
    background-color: $grey;
  }
}
.alarm.icon {
  width: 13px;
  height: 13px;
  border: solid 1px $grey;
  border-radius: 50%;
  margin: 3px;
  &:before,
  &:after {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: -2px;
  }
  &:before {
    left: -2px;
    border-left: solid 1px $grey;
    border-top: solid 1px $grey;
    border-right: solid 1px transparent;
    border-bottom: solid 1px transparent;
  }
  &:after {
    right: -2px;
    border-left: solid 1px transparent;
    border-top: solid 1px $grey;
    border-right: solid 1px $grey;
    border-bottom: solid 1px transparent;
  }
  i {
    width: 3px;
    height: 4px;
    border-left: solid 1px $grey;
    border-bottom: solid 1px $grey;
    top: 2px;
    left: 6px;
    &:before,
    &:after {
      width: 1px;
      height: 3px;
      background-color: $grey;
    }
    &:before {
        left: -7px;
        top: 11px;
        transform-origin: right center;
        transform: rotate(45deg);
    }
    &:after {
        left: 5px;
        top: 11px;
        transform-origin: left center;
        transform: rotate(-45deg);
    }
  }
  &.filled {
    background-color: $grey;
    i {
      border-color: $white;
    }
  }
}
.syringe {
  width: 5px;
  height: 12px;
  border: solid 1px $grey;
  border-radius: 0 0 3px 3px;
  margin: 4px 7px;
  transform: rotate(45deg);
  &:before {
    width: 1px;
    height: 4px;
    background-color: $grey;
    left: 2px;
    bottom: -5px;
  }
  i {
    width: 3px;
    height: 3px;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    top: -4px;
    &:before {
      width: 7px;
      height: 1px;
      background-color: $grey;
      left: -2px;
      top: -1px;
    }
    &:after {
      width: 11px;
      height: 1px;
      background-color: $grey;
      left: -4px;
      bottom: -1px;
    }
  }
  &.filled {
    background-color: $grey;
  }
}
.minusFront.icon {
  margin-left: 2px;
  margin-top: 2px;
  width: 10px;
  height: 10px;
  border: solid 1px $grey;
  &:before {
    width: 10px;
    height: 10px;
    border: dotted 1px $grey;
    left: 4px;
    top: 4px;
  }
  &:after {
    width: 6px;
    height: 6px;
    border-top: solid 1px $grey;
    border-left: solid 1px $grey;
    background-color: $white;
    right: -1px;
    bottom: -1px
  }
  &.filled {
    background-color: $grey;
  }
}
.unite.icon {
  margin-left: 2px;
  margin-top: 2px;
  width: 10px;
  height: 10px;
  border: solid 1px $grey;
  &:before {
    width: 10px;
    height: 10px;
    border: solid 1px $grey;
    left: 4px;
    top: 4px;
  }
  &:after {
    width: 5px;
    height: 5px;
    border: solid 1px $white;
    right: -1px;
    bottom: -1px;
  }
  &.filled {
    background-color: $grey;
    &:before, 
    &:after {
      background-color: $grey;
    }
    &:after {
      border: solid 1px $grey;
    }
  }
}
.intersect.icon {
  margin-left: 2px;
  margin-top: 2px;
  width: 10px;
  height: 10px;
  border: dotted 1px $grey;
  &:before {
    width: 10px;
    height: 10px;
    border: dotted 1px $grey;
    left: 4px;
    top: 4px;
  }
  &:after {
    width: 5px;
    height: 5px;
    border: solid 1px $grey;
    right: -1px;
    bottom: -1px;
  }
  &.filled {
    &:after {
      background-color: $grey;
    }
  }
}
.exclude.icon {
  margin-left: 2px;
  margin-top: 2px;
  width: 10px;
  height: 10px;
  border: solid 1px $grey;
  &:before {
    width: 10px;
    height: 10px;
    border: solid 1px $grey;
    left: 4px;
    top: 4px;
  }
  &:after {
    width: 5px;
    height: 5px;
    background-color: $white;
    border: dotted 1px $grey;
    right: -1px;
    bottom: -1px;
  }
  &.filled {
    background-color: $grey;
    &:before {
      background-color: $grey;
    }
    &:after {
      background-color: $white;
    }
  }
}
.glasses.icon {
  margin-left: 8px;
  margin-top: 9px;
  width: 3px;
  height: 3px; 
  border-top: solid 1px $grey;
  border-radius: 50%;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  border-left: solid 1px transparent;
  &:before, 
  &:after {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: solid 1px $grey;
    top: -3px;
  }
  &:before {
    left: -7px;
    box-shadow: 
      -4px 0 0 -3.5px $grey, 
      -4.5px 0 0 -3.5px $grey, 
      -5px 0 0 -3.5px $grey;
  }
  &:after {
    right: -7px;
    box-shadow: 
      4px 0 0 -3.5px $grey, 
      4.5px 0 0 -3.5px $grey, 
      5px 0 0 -3.5px $grey;
  }
  &.filled {   
    &:before, 
    &:after {
      background-color: $grey;
    }
  }
}
.sunGlasses.icon {
  margin-left: 9px;
  margin-top: 8px;
  width: 3px;
  height: 1px; 
  background-color: $grey;
  &:before, 
  &:after {
    width: 8px;
    height: 6px;
    border: solid 1px $grey;
    top: -1px;
  }
  &:before {
    border-radius: 3px 2px 6px 4px;
    left: -9px;
  }
  &:after {
    border-radius: 2px 3px 4px 6px;
    right: -9px;
  }
  &.filled {   
    &:before, 
    &:after {
      background-color: $grey;
    }
  }
}
.beard.icon {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: 
    5px 8px 0 0 $grey, 
    10px 8px 0 0 $grey;
  &:before {
    border: 0 solid transparent;
    border-bottom: 6px solid $grey;
    border-radius: 0 0 0 100%;
    width: 7px;
    height: 4px;
    left: 1px;
    top: 4px;
    transform-origin: right 7px;
    transform: rotate(-40deg);
  }
  &:after {
    border: 0 solid transparent;
    border-bottom: 6px solid $grey;
    border-radius: 0 0 100% 0;
    width: 7px;
    height: 4px;
    left: 13px;
    top: 4px;
    transform-origin: left 7px;
    transform: rotate(40deg);
  }
  &.filled i {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    box-shadow: 
      6px 9px 0 0 $white, 
      11px 9px 0 0 $white;
    z-index: 2;
    &:before {
      border: 0 solid transparent;
      border-bottom: 4px solid $white;
      border-radius: 0 0 0 100%;
      width: 6px;
      height: 3px;
      left: 2px;
      top: 6px;
      transform-origin: right 5px;
      transform: rotate(-40deg);
    }
    &:after {
      border: 0 solid transparent;
      border-bottom: 4px solid $white;
      border-radius: 0 0 100% 0;
      width: 6px;
      height: 3px;
      left: 13px;
      top: 6px;
      transform-origin: left 5px;
      transform: rotate(40deg);
    }
  }
}
.bowTie.icon {
  margin-left: 1px;
  margin-top: 5px;
  width: 19px;
  height: 11px;
  &:before {
    width: 5px;
    height: 5px;
    border-left: solid 7px $grey;
    border-right: solid 7px $grey;
    border-top: solid 3px transparent;
    border-bottom: solid 3px transparent;
  }
  &:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 5px;
    border: solid 1px $grey;
    border-radius: 50%;
    background-color: $white;
  }
  &.filled:after {
    background-color: $grey;
  }
}
.tie.icon {
  margin-left: 7px;
  margin-top: 1px;
  width: 4px;
  height: 1px;
  border-top: solid 4px $grey;
  border-right: solid 2px transparent;
  border-bottom: solid 11px $grey;
  border-left: solid 2px transparent;
  &:before { 
    top: 12px;
    left: -2px;
    width: 0;
    height: 0;
    border-top: solid 3px $grey;
    border-right: solid 4px transparent;
    border-bottom: solid 0px transparent;
    border-left: solid 4px transparent;
  }
  i {
    left: 0px;
    top: -3px;
    width: 2px;
    height: 0;
    border-top: solid 2px $white;
    border-right: solid 1px transparent;
    border-left: solid 1px transparent;
    &:before {
      left: -2px;
      top: 3px;
      width: 2px;
      height: 0;
      border-bottom: solid 10px $white;
      border-right: solid 2px transparent;
      border-left: solid 2px transparent;
    }
    &:after {
      left: -2px;
      top: 13px;
      width: 0;
      height: 0;
      border-top: solid 2px $white;
      border-right: solid 3px transparent;
      border-left: solid 3px transparent;
    }
  }
}

.tieFilled.icon {
  margin-left: 7px;
  margin-top: 1px;
  width: 4px;
  height: 1px;
  border-top: solid 4px $grey;
  border-right: solid 2px transparent;
  border-bottom: solid 11px $grey;
  border-left: solid 2px transparent;
  &:before { 
    top: 12px;
    left: -2px;
    width: 0;
    height: 0;
    border-top: solid 3px $grey;
    border-right: solid 4px transparent;
    border-bottom: solid 0px transparent;
    border-left: solid 4px transparent;
  }
}
.shirt.icon {
  margin-left: 1px;
  margin-top: 3px;
  width: 17px;
  height: 4px;
  border: solid 1px $grey;
  border-radius: 1px;
  &:before {
    top: -1px;
    left: 5px;
    width: 5px;
    height: 3px;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    border-bottom: solid 1px $grey;
    border-radius: 0 0 3px 3px;
    background-color: $white;
  }
  &:after {
    left: 3px;
    top: 4px;
    width: 9px;
    height: 9px;
    border-right: solid 1px $grey;
    border-bottom: solid 1px $grey;
    border-left: solid 1px $grey;
    border-radius: 0 0 1px 1px;
    background-color: $white;
  }
  &.filled {
    background-color: $grey;
    &:after {
      background-color: $grey;
    }
  }
}
.clothesButton.icon {
  margin-left: 2px;
  margin-top: 2px;
  width: 11px;
  height: 11px;
  border: double 3px $grey;
  border-radius: 50%;
  &:before,
  &:after {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    border: solid 1px $grey;
  }
  &:before {
    left: 2px;
    top: 2px;
  }
  &:after {
    left: 6px;
    top: 6px;
  }
  &.filled {
    margin-left: 1px;
    margin-top: 1px;
    width: 13px;
    height: 13px;
    border: double 3px $white;
    background-color: $grey;
    &:before, 
    &:after {
      border: solid 1px $white;
    }
    &:before {
      left: 3px;
      top: 3px;
    }
    &:after {
      left: 7px;
      top: 7px;
    }
  }
}
.bankNote.icon {
  margin-left: 2px;
  margin-top: 8px;
  width: 15px;
  height: 8px;
  border: solid 1px $grey;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 8px;
  color: $grey;
  line-height: 10px;
  text-align: center;
  &:before {
    left: 1px;
    top: -3px;
    width: 13px;
    height: 1px;
    background-color: $grey;
  }
  &:after {
    left: 3px;
    top: -5px;
    width: 9px;
    height: 1px;
    background-color: $grey;
  }
  &.filled {
    background-color: $grey;
    color: $white;
  }
}
.dashboard.icon {
  margin-left: 2px;
  margin-top: 4px;
  width: 15px;
  height: 11px;
  border-radius: 8px 8px 4px 4px;
  border-left: solid 1px $grey;
  border-top: solid 1px $grey;
  border-right: solid 1px $grey;
  border-bottom: solid 1px $grey;
  &:before {
    width: 1px;
    height: 4px;
    background-color: $grey;
    left: 7px;
    top: 3px;
  }
  &:after {
    width: 1px;
    height: 1px;
    border: solid 1px $grey;
    border-radius: 50%;
    left: 6px;
    top: 6px;
    box-shadow: 
      -7px 0 0 -1px $grey, 
      0 -7px 0 -1px $grey, 
      7px 0 0 -1px $grey;
  }
  &.filled {
    background-color: $grey;
    &:before {
      background-color: $white;
    }
    &:after {
      border-color: $white;
      box-shadow: 
        -7px 0 0 -1px $white, 
        -8px 0 0 -1px $white, 
        0 -7px 0 -1px $white, 
        0 -8px 0 -1px $white, 
        7px 0 0 -1px $white,
        8px 0 0 -1px $white;
    }
  }
}
.dashboardLow.icon {
  margin-left: 2px;
  margin-top: 4px;
  width: 15px;
  height: 11px;
  border-radius: 8px 8px 4px 4px;
  border-left: solid 1px $grey;
  border-top: solid 1px $grey;
  border-right: solid 1px $grey;
  border-bottom: solid 1px $grey;
  &:before {
    width: 1px;
    height: 4px;
    background-color: $grey;
    left: 7px;
    top: 3px;
    transform-origin: center 5px;
    transform: rotate(-45deg);
  }
  &:after {
    width: 1px;
    height: 1px;
    border: solid 1px $grey;
    border-radius: 50%;
    left: 6px;
    top: 6px;
    box-shadow: 
      -7px 0 0 -1px $grey, 
      0 -7px 0 -1px $grey, 
      7px 0 0 -1px $grey;
  }
  &.filled {
    background-color: $grey;
    &:before {
      background-color: $white;
    }
    &:after {
      border-color: $white;
      box-shadow: 
        -7px 0 0 -1px $white, 
        -8px 0 0 -1px $white, 
        0 -7px 0 -1px $white, 
        0 -8px 0 -1px $white, 
        7px 0 0 -1px $white,
        8px 0 0 -1px $white;
    }
  }
}
.dashboardHigh.icon {
  margin-left: 2px;
  margin-top: 4px;
  width: 15px;
  height: 11px;
  border-radius: 8px 8px 4px 4px;
  border-left: solid 1px $grey;
  border-top: solid 1px $grey;
  border-right: solid 1px $grey;
  border-bottom: solid 1px $grey;
  &:before {
    width: 1px;
    height: 4px;
    background-color: $grey;
    left: 7px;
    top: 3px;
    transform-origin: center 5px;
    transform: rotate(45deg);
  }
  &:after {
    width: 1px;
    height: 1px;
    border: solid 1px $grey;
    border-radius: 50%;
    left: 6px;
    top: 6px;
    box-shadow: 
      -7px 0 0 -1px $grey, 
      0 -7px 0 -1px $grey, 
      7px 0 0 -1px $grey;
  }
  &.filled {
    background-color: $grey;
    &:before {
      background-color: $white;
    }
    &:after {
      border-color: $white;
      box-shadow: 
        -7px 0 0 -1px $white, 
        -8px 0 0 -1px $white, 
        0 -7px 0 -1px $white, 
        0 -8px 0 -1px $white, 
        7px 0 0 -1px $white,
        8px 0 0 -1px $white;
    }
  }
}
.verticalAlignCenter.icon {
  margin-left: 2px;
  margin-top: 10px;
  width: 17px;
  height: 1px;
  background-color: $grey;
  &:before {
    width: 4px;
    height: 13px;
    border: solid 1px $grey;
    left: 2px;
    top: -7px;
    border-radius: 1px;
  }
  &:after {
    width: 4px;
    height: 9px;
    border: solid 1px $grey;
    right: 2px;
    top: -5px;
    border-radius: 1px;
  }
  &.halfFilled {
    &:after {
      background-color: $grey;
    }
  }
  &.filled {
    &:before, 
    &:after {
      background-color: $grey;
    }
  }
}
.verticalAlignTop.icon {
  margin-left: 2px;
  margin-top: 2px;
  width: 17px;
  height: 1px;
  background-color: $grey;
  &:before {
    width: 4px;
    height: 13px;
    border: solid 1px $grey;
    left: 2px;
    top: 2px;
    border-radius: 1px;
  }
  &:after {
    width: 4px;
    height: 9px;
    border: solid 1px $grey;
    right: 2px;
    top: 2px;
    border-radius: 1px;
  }
  &.halfFilled {
    &:after {
      background-color: $grey;
    }
  }
  &.filled {
    &:before, 
    &:after {
      background-color: $grey;
    }
  }
}
.verticalAlignBottom.icon {
  margin-left: 2px;
  margin-top: 18px;
  width: 17px;
  height: 1px;
  background-color: $grey;
  &:before {
    width: 4px;
    height: 13px;
    border: solid 1px $grey;
    left: 2px;
    bottom: 2px;
    border-radius: 1px;
  }
  &:after {
    width: 4px;
    height: 9px;
    border: solid 1px $grey;
    right: 2px;
    bottom: 2px;
    border-radius: 1px;
  }
  &.halfFilled {
    &:after {
      background-color: $grey;
    }
  }
  &.filled {
    &:before, 
    &:after {
      background-color: $grey;
    }
  }
}
.horizontalAlignCenter.icon {
  margin-left: 10px;
  margin-top: 2px;
  width: 1px;
  height: 17px;
  background-color: $grey;
  &:before {
    width: 13px;
    height: 4px;
    border: solid 1px $grey;
    left: -7px;
    bottom: 2px;
    border-radius: 1px;
  }
  &:after {
    width: 9px;
    height: 4px;
    border: solid 1px $grey;
    left: -5px;
    top: 2px;
    border-radius: 1px;
  }
  &.halfFilled {
    &:after {
      background-color: $grey;
    }
  }
  &.filled {
    &:before, 
    &:after {
      background-color: $grey;
    }
  }
}
.horizontalAlignLeft.icon {
  margin-left: 2px;
  margin-top: 2px;
  width: 1px;
  height: 17px;
  background-color: $grey;
  &:before {
    width: 13px;
    height: 4px;
    border: solid 1px $grey;
    left: 2px;
    bottom: 2px;
    border-radius: 1px;
  }
  &:after {
    width: 9px;
    height: 4px;
    border: solid 1px $grey;
    left: 2px;
    top: 2px;
    border-radius: 1px;
  }
  &.halfFilled {
    &:after {
      background-color: $grey;
    }
  }
  &.filled {
    &:before, 
    &:after {
      background-color: $grey;
    }
  }
}
.horizontalAlignRight.icon {
  margin-left: 18px;
  margin-top: 2px;
  width: 1px;
  height: 17px;
  background-color: $grey;
  &:before {
    width: 13px;
    height: 4px;
    border: solid 1px $grey;
    right: 2px;
    bottom: 2px;
    border-radius: 1px;
  }
  &:after {
    width: 9px;
    height: 4px;
    border: solid 1px $grey;
    right: 2px;
    top: 2px;
    border-radius: 1px;
  }
  &.halfFilled {
    &:after {
      background-color: $grey;
    }
  }
  &.filled {
    &:before, 
    &:after {
      background-color: $grey;
    }
  }
}
.hammerFilled.icon {
  margin-left: 4px;
  margin-top: 0px; 
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $grey;
  transform-origin: center 10.5px;
  transform: rotate(-45deg);
  &:before {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    left: -13px;
    box-shadow: 13px -9px 0 0 $white,
                13px 9px 0 0 $white;
  }
  &:after {
    width: 3px;
    height: 21px;
    border-radius: 1px;
    background-color: $grey;
    left: 5px;
  }
}
.hammer.icon {
  margin-left: 4px;
  margin-top: 0px; 
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border-left: solid 1px $grey;
  border-top: solid 1px transparent;
  border-right: solid 1px $grey;
  border-bottom: solid 1px transparent;
  transform-origin: center 10.5px;
  transform: rotate(-45deg);
  &:before {
    left: -1px;
    top: -9px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border-left: solid 1px transparent;
    border-top: solid 1px transparent;
    border-right: solid 1px transparent;
    border-bottom: solid 1px $grey;
  }
  &:after {
    left: -1px;
    top: 7px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border-left: solid 1px transparent;
    border-top: solid 1px $grey;
    border-right: solid 1px transparent;
    border-bottom: solid 1px transparent;
  }
  i {
    width: 1px;
    height: 4px;
    border-left: solid 1px $grey;
    border-top: solid 1px $grey;
    border-right: solid 1px $grey;
    border-radius: 1px 1px 0 0;
    left: 4px;
    top: -1px;
    &:after {
      width: 1px;
      height: 11px;
      border-left: solid 1px $grey;
      border-bottom: solid 1px $grey;
      border-right: solid 1px $grey;
      border-radius: 0 0 1px 1px;
      left: -1px;
      top: 8px;
    }
  }
}
.wrenchFilled.icon {
  margin-left: 5px;
  margin-top: 0px; 
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $grey;
  transform-origin: center 10.5px;
  transform: rotate(-45deg);
  &:after { 
    width: 0;
    height: 0;
    border-radius: 0 0 1px 1px;
    background-color: $grey;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;   
    border-top: solid 1px $white;
    border-bottom: solid 1px transparent;
    left: 4px;
    top: 4px;
  }
  &:before {
    width: 2px;
    height: 5px;
    background-color: $white;
    left: 4px;
    border-radius: 0 0 1px 1px;
    box-shadow: 0 15px 0px 1px $grey,
                0 11px 0px 1px $grey,
                0 8px 0px 1px $grey;
  }
}
.wrench.icon {
  margin-left: 5px;
  margin-top: 0px; 
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px $grey;
  transform-origin: center 10.5px;
  transform: rotate(-45deg);
  &:before { 
    top: -1px;
    left: 2px;
    width: 2px;
    height: 5px;
    background-color: $white;
    border-radius: 1px 1px 2px 2px;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    border-bottom: solid 1px $grey;
  }
  &:after {
    top: 8px;
    left: 2px;
    width: 2px;
    height: 11px;
    background-color: $white;
    border-radius: 0 0 2px 2px;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    border-bottom: solid 1px $grey;
  }
}
.sorting.icon {
  margin-left: 10px;
  margin-top: 2px;
  height: 17px;
  width: 8px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 8px;
  color: $grey;
  word-wrap: break-word;
  text-align: center;
  line-height: 9px;
  &:before {
    width: 1px;
    height: 15px;
    background-color: $grey;
    left: -5px;
    top: 1px;
  }
  &:after {
    width: 2px;
    height: 2px;
    border-top: solid 1px $grey;
    border-right: solid 1px $grey;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    left: -6px;
    top: 13px;
  }
}
.compass.icon {
  margin-left: 2px;
  margin-top: 2px;
  width: 14px;
  height: 14px;
  border: solid 1px $grey;
  border-radius: 50%;
  transform: rotate(30deg);
  &:before {
    left: 4px;
    border-left: solid 3px transparent;
    border-bottom: solid 7px $grey;
    border-right: solid 3px transparent;
  }
  &:after {
    left: 5px;
    top: 2px;
    border-left: solid 2px transparent;
    border-bottom: solid 5px $white;
    border-right: solid 2px transparent;
  }
  i {
    left: 4px;
    top: 7px;
    border-left: solid 3px transparent;
    border-top: solid 7px $grey;
    border-right: solid 3px transparent;
    z-index: 2;
  }
  &.filled {
    background-color: $grey;
    &:before {
      border-bottom: solid 7px $white;
    }
    &:after {
      border-bottom: solid 5px $grey;
    }
    i {
      border-top: solid 7px $white;
    }
  }
}
.moveDown {
  margin-left: 2px;
  margin-top: 17px;
  width: 16px;
  height: 2px;
  background-color: $grey;
  &:before {
    width: 2px;
    height: 11px;
    top: -15px;
    left: 7px;
    background-color: $grey;
  }
  &:after {
    width: 0;
    height: 0;
    left: 5px;
    top: -5px;
    border-top: solid 3px $grey;
    border-right: solid 3px transparent;
    border-bottom: solid 3px transparent;
    border-left: solid 3px transparent;
  }
}
.moveUp {
  margin-left: 2px;
  margin-top: 2px;
  width: 16px;
  height: 2px;
  background-color: $grey;
  &:before {
    width: 2px;
    height: 11px;
    top: 6px;
    left: 7px;
    background-color: $grey;
  }
  &:after {
    width: 0;
    height: 0;
    left: 5px;
    top: 1px;
    border-top: solid 3px transparent;
    border-right: solid 3px transparent;
    border-bottom: solid 3px $grey;
    border-left: solid 3px transparent;
  }
}
.moveLeft {
  margin-left: 2px;
  margin-top: 2px;
  width: 2px;
  height: 16px;
  background-color: $grey;
  &:before {
    width: 11px;
    height: 2px;
    top: 7px;
    left: 6px;
    background-color: $grey;
  }
  &:after {
    width: 0;
    height: 0;
    left: 1px;
    top: 5px;
    border-top: solid 3px transparent;
    border-right: solid 3px $grey;
    border-bottom: solid 3px transparent;
    border-left: solid 3px transparent;
  }
}
.moveRight {
  margin-left: 17px;
  margin-top: 2px;
  width: 2px;
  height: 16px;
  background-color: $grey;
  &:before {
    width: 11px;
    height: 2px;
    top: 7px;
    left: -15px;
    background-color: $grey;
  }
  &:after {
    width: 0;
    height: 0;
    left: -5px;
    top: 5px;
    border-top: solid 3px transparent;
    border-right: solid 3px transparent;
    border-bottom: solid 3px transparent;
    border-left: solid 3px $grey;
  }
}
.moveHorizontalCenter {
  margin-left: 9px;
  margin-top: 2px;
  width: 2px;
  height: 16px;
  background-color: $grey;
  &:before {
    width: 12px;
    height: 2px;
    top: 7px;
    left: -8px;
    border-left: solid 3px $grey;
    border-right: solid 3px $grey;
  }
  &:after {
    width: 6px;
    height: 0;
    left: -5px;
    top: 5px;
    border-top: solid 3px transparent;
    border-right: solid 3px $grey;
    border-bottom: solid 3px transparent;
    border-left: solid 3px $grey;
  }
}
.moveVerticalCenter {
  margin-left: 2px;
  margin-top: 9px;
  width: 16px;
  height: 2px;
  background-color: $grey;
  &:before {
    width: 2px;
    height: 12px;
    top: -8px;
    left: 7px;
    border-top: solid 3px $grey;
    border-bottom: solid 3px $grey;
  }
  &:after {
    width: 0;
    height: 6px;
    left: 5px;
    top: -5px;
    border-top: solid 3px $grey;
    border-right: solid 3px transparent;
    border-bottom: solid 3px $grey;
    border-left: solid 3px transparent;
  }
}
.insertPages.icon {
  margin-left: 3px;
  margin-top: 2px;
  width: 13px;
  height: 6px;
  border-right: solid 1px $grey;
  border-bottom: solid 1px $grey;
  border-left: solid 1px $grey;
  border-radius: 0 0 1px 1px;
  &:before {
    left: -1px;
    top: 10px;
    width: 13px;
    height: 6px;
    border-top: solid 1px $grey;
    border-left: solid 1px $grey;
    border-right: solid 1px $grey;
    border-radius: 1px 1px 0 0;
  }
  &:after {
    width: 17px;
    height: 0;
    left: -2px;
    top: 8px;
    border-top: dotted 1px $grey;
  }
  &.filled {
    background-color: $grey;
    &:before {
      background-color: $grey;
    }
  }
}
.insert {
  margin-left: 4px;
  margin-top: 18px;
  width: 14px;
  height: 1px;
  background-color: $grey;
  &:before {
    width: 4px;
    height: 4px;
    border-left: solid 1px $grey;
    border-bottom: solid 1px $grey;
    top: -7px;
  }
  &:after {
    width: 5px;
    height: 12px;
    border-left: solid 1px $grey;
    border-top: solid 1px $grey;
    border-right: solid 1px $grey;
    top: -20px;
    transform-origin: left bottom;
    transform: rotate(45deg);
  }
  &.filled {
    &:before,
    &:after {
      background-color: $grey;
    }
  }
}
.board.icon {
  margin-left: 3px;
  margin-top: 5px;
  width: 13px;
  height: 8px;
  border-radius: 2px;
  border: solid 1px $grey;
  background-color: $white;
  &:before,
  &:after {
    width: 1px;
    height: 17px;
    background-color: $grey;
    left: 6px;
    top: -4px;
    z-index: -1;
  }
  &:before {
    transform-origin: right top;
    transform: skew(-21deg);
  }
  &:after {
    transform-origin: left top;
    transform: skew(21deg);
  }
  &.filled {
    background-color: $grey;
    border: solid 1px $white;
  }
}
.podium.icon {
  margin-left: 7px;
  margin-top: 3px;
  width: 5px;
  height: 13px;
  border: solid 1px $grey;
  &:before {
    left: -7px;
    top: 3px;
    width: 5px;
    height: 9px;
    border: solid 1px $grey;
  }
  &:after {
    left: 5px;
    top: 5px;
    width: 5px;
    height: 7px;
    border: solid 1px $grey;
  }
  &.filled {
    margin-left: 8px;
    margin-top: 4px;
    background-color: $grey;
    border: none;
    &:before {
      top: 4px;
      left: -6px;
      background-color: $grey;
      border: none;
    }
    &:after {
      top: 6px;
      left: 6px;
      background-color: $grey;
      border: none;
    }
  }
}
.socket.icon {
  margin-left: 1px;
  margin-top: 3px;
  width: 17px;
  height: 13px;
  border: solid 1px $grey;
  border-radius: 7px;
  // background-color: $grey;
  &:before {
    left: 4px;
    top: 3px;
    width: 5px;
    height: 3px;
    border-left: solid 2px $grey;
    border-right: solid 2px $grey;
  }
  &:after {
    left: 7px;
    top: 8px;
    width: 3px;
    height: 3px;
    background-color: $grey;
    border-radius: 50% 50% 0 0;
  }
  &.filled {
    background-color: $grey;
    &:before {
      width: 7px;
      left: 4px;
      border-left: solid 1px $white;
      border-right: solid 1px $white;
    }
    &:after {
      background-color: $white;
      
    }
  }
}
.barbell {
  margin-left: 1px;
  margin-top: 10px;
  width: 19px;
  height: 1px;
  background-color: $grey;
  &:before,
  &:after {
    top: -6px;
    height: 11px;
    width: 1px;
    border-radius: 2px;
    border: solid 1px $grey;
    background-color: $white;
  }
  &:before {
    left: 4px;
  }
  &:after {
    right: 4px;
  }
  i {
    width: 19px;
    &:before,
    &:after {
      top: -4px;
      height: 7px;
      width: 1px;
      border-radius: 2px;
      border: solid 1px $grey;
      background-color: $white;
    }
    &:before {
      left: 2px;
    }
    &:after {
      right: 2px;
    }
  }
  &.filled {
    &:before, 
    &:after {
      width: 0;
    }
    i {
      &:before, 
      &:after {
        width: 0;
      }
    }
  }
}
.detail {
  margin-left: 2px;
  margin-top: 2px;
  width: 15px;
  height: 15px;
  border: solid 1px $grey;
  border-radius: 8px 8px 1px 8px;
  &:before {
    width: 9px;
    height: 9px;
    border: solid 1px $grey;
    border-radius: 50%;
    left: 2px;
    top: 2px;
  }
  &.filled {
    background-color: $grey;
    &:before {
      background-color: $white;
      border: solid 1px $white;
    }
  }
  &.detail-plus {
    i {
      top: 7px;
      left: 5px;
      width: 5px;
      height: 1px;
      background-color: $grey;
      &:before {
        width: 5px;
        height: 1px;
        background-color: $grey;
        transform: rotate(90deg);
      }
    }
  }
  &.detail-minus {
    i {
      top: 7px;
      left: 5px;
      width: 5px;
      height: 1px;
      background-color: $grey;
    }
  }
}