.map.icon {
  color: #000;
  position: absolute;
  margin-left: 8px;
  margin-top: 4px;
  width: 4px;
  height: 10px;
  border-radius: 1px;
  border: solid 1px currentColor;
  -webkit-transform: skewY(20deg);
          transform: skewY(20deg);
}
