@import '../../mixin';
.trash-solid.icon {
  &:after {
    @include pseudo();
    left: 0px;
    top: -5px;
    width: 7px;
    height: 2px;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
    border-top: solid 1px currentColor;
    background-color: currentColor;
    border-radius: 4px 4px 0 0;
  }
}
