.relieved-solid.icon {
  i{
    position: absolute;
    left: 3px;
    top: 3px;
    width: 8px;
    height: 8px;
    color: white;
    border-radius: 50%;
    border-top: solid 1px transparent;
    border-bottom: solid 1px currentColor;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
  }
}
