@import '../../mixin';
.left-double-quote-solid.icon {
  &:before{
    @include pseudo();
    width: 6px;
    height: 6px;
    border: solid 1px currentColor;
    background-color: currentColor;
    border-radius: 50%;
    top: 3px;
  }
}
