@import '../../mixin';
.moon.icon {
  &:before {
    @include pseudo();
    left: 6px;
    top: 1px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-top: solid 1px transparent;
    border-bottom: solid 1px currentColor;
    border-left: solid 1px currentColor;
    border-right: solid 1px transparent;
    transform: rotate(45deg);
  }
}
