<html ng-app="iconApp" ng-controller="MainCtrl">
<head>
  <meta charset="UTF-8">
  <title>CSS icon set -- by Wenting Zhang</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon"/>
  <meta name="viewport" content="width=device-width">
  <script src="https://use.typekit.net/vmt4alo.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link type="text/css" rel="stylesheet" href="css/app.css" />
  <link type="text/css" rel="stylesheet" href="css/icons.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
  <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>
</head>

<body>
<div class="container" ng-class="{viewerOpen: viewerOpen}" >
  <div class="icons">
    <div class="logo">
      <div class="c"></div>
      <div class="s"></div>
      <div class="s"></div>
      <div class="i"></div>
      <div class="c"></div>
      <div class="o"></div>
      <div class="n"></div>
    </div>
    <h4 class="info">
      A side project by <a href="https://github.com/wentin" target="_blank">wentin</a> (Wenting Zhang)
    </h4>
    <form class="searchWrapper">
        <input required type="text" ng-model="searchText" class="search" placeholder="">
        <div class="search icon"></div>
        <button class="close icon" type="reset" ng-click="searchText=''"></button>
    </form>
    <div class="iconWrapper" ng-repeat-start="icon in icons | filter: searchText" ng-click="handleIconClick(icon);">
      <div ng-class="icon.classNames" class="icon">
        <i ng-if="icon.htmlChildMarkup"></i>
      </div> 
    </div> 
    <i ng-repeat-end></i>
    <div class="iconWrapper iconWrapperHidden"></div>
    <div class="iconWrapper iconWrapperHidden"></div>
    <div class="iconWrapper iconWrapperHidden"></div>
    <div class="iconWrapper iconWrapperHidden"></div>
    <div class="iconWrapper iconWrapperHidden"></div>
    <div class="iconWrapper iconWrapperHidden"></div>
    <div class="iconWrapper iconWrapperHidden"></div>
    <div class="iconWrapper iconWrapperHidden"></div>
    <div class="iconWrapper iconWrapperHidden"></div>
    <div class="iconWrapper iconWrapperHidden"></div>
    <div class="iconWrapper iconWrapperHidden"></div>
    <div class="iconWrapper iconWrapperHidden"></div>
    <div class="iconWrapper iconWrapperHidden"></div>
    <div class="iconWrapper iconWrapperHidden"></div>
    <div class="iconWrapper iconWrapperHidden"></div>
    <div class="iconWrapper iconWrapperHidden"></div>

    <!-- <div ng-include="'partials/icons.html'"></div> -->
  </div>
  <div class="viewer"
       ng-init="cssIconHover = cssIconBeforeHover = cssIconAfterHover = cssChildHover = cssChildBeforeHover = cssChildAfterHover = false;"
       ng-class="{ cssIconHover: cssIconHover, 
                   cssIconBeforeHover: cssIconBeforeHover, 
                   cssIconAfterHover: cssIconAfterHover, 
                   cssChildHover: cssChildHover, 
                   cssChildBeforeHover: cssChildBeforeHover, 
                   cssChildAfterHover: cssChildAfterHover}"
       >
    <div class="buttonClose" ng-click="handleButtonCloseClick();"></div>
    <div class="viewerWrapper">
      <div class="iconWrapper iconViewer">
        <div ng-class="selectedIcon.classNames" class="icon">
          <i ng-if="selectedIcon.htmlChildMarkup"></i>
        </div>
      </div>
      <div class="iconWrapperBig iconViewer">
        <div class="scale">
          <div ng-class="selectedIcon.classNames" class="icon">
            <i ng-if="selectedIcon.htmlChildMarkup"></i>
          </div>
        </div>
      </div>
      <div class="iconLabel">
        {{selectedIcon.name}}
      </div>
      <form action="http://codepen.io/pen/define" method="POST" target="_blank">
        <input type="hidden" name="data" ng-value='JSONstring'>
        <button class="buttonCodepen" type="submit" >
          TRY IT ON 
          <span ng-include="'partials/codepen-logo.html'"></span>
        </button>
      </form>
      <div class="codeBlocks">
        <h4>html
          <div class="html buttonCopy">
            <div class="icon copy"></div>
          </div>
        </h4>
        <pre><code><xmp>{{generateHTML(selectedIcon)}}</xmp></code></pre>
        <h4>css
          <div class="css buttonCopy">
            <div class="icon copy"></div>
          </div>
        </h4>
        <div class="cssIcon codeBlockHight" 
             ng-mouseover = "cssIconHover = true"
             ng-mouseleave= "cssIconHover = false">
          <xmp ng-if="selectedIcon.cssBlocks.cssIcon">{{selectedIcon.cssBlocks.cssIcon}}</xmp>
        </div>
        <div class="cssIconBefore codeBlockHight" 
             ng-mouseover = "cssIconBeforeHover = true;"
             ng-mouseleave= "cssIconBeforeHover = false;">
          <xmp ng-if="selectedIcon.cssBlocks.cssIconBefore">{{selectedIcon.cssBlocks.cssIconBefore}}</xmp>
        </div>
        <div class="cssIconAfter codeBlockHight" 
             ng-mouseover = "cssIconAfterHover = true;"
             ng-mouseleave= "cssIconAfterHover = false;">
          <xmp ng-if="selectedIcon.cssBlocks.cssIconAfter">{{selectedIcon.cssBlocks.cssIconAfter}}</xmp>
        </div>
        <div class="cssChild codeBlockHight"
             ng-mouseover = "cssChildHover = true;"
             ng-mouseleave= "cssChildHover = false;">
          <xmp ng-if="selectedIcon.cssBlocks.cssChild">{{selectedIcon.cssBlocks.cssChild}}</xmp>
        </div>
        <div class="cssChildBefore codeBlockHight" 
             ng-mouseover = "cssChildBeforeHover = true;"
             ng-mouseleave= "cssChildBeforeHover = false;">
          <xmp ng-if="selectedIcon.cssBlocks.cssChildBefore">{{selectedIcon.cssBlocks.cssChildBefore}}</xmp>
        </div>
        <div class="cssChildAfter codeBlockHight"
             ng-mouseover = "cssChildAfterHover = true;"
             ng-mouseleave= "cssChildAfterHover = false;">
          <xmp ng-if="selectedIcon.cssBlocks.cssChildAfter">{{selectedIcon.cssBlocks.cssChildAfter}}</xmp>
        </div>
      </div>
    </div>
  </div>
</div>
  <script src="js/app.js"></script>
</body>
</html>
