@import '../../mixin';
.upload.icon {
  &:after {
    @include pseudo();
    top: -8px;
    left: 4px;
    width: 4px;
    height: 4px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    transform: rotate(-45deg);
  }
}
