.tougue.icon i:before {
  content: '';
  position: absolute;
  top: -1px;
  right: 0px;
  width: 2px;
  height: 2px;
  border-radius: 2px;
  border-top: solid 1px transparent;
  border-right: solid 1px transparent;
  border-bottom: solid 1px currentColor;
  border-left: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
