@import '../../mixin';
.sunset-solid.icon {
  &:before {
    @include pseudo();
    left: -6px;
    top: 6px;
    width: 18px;
    height: 1px;
    background-color: currentColor;
    border-top: solid 1px #fff;
  }
}
