@import '../../mixin';
.key2-solid.icon {
  &:after {
    @include pseudo();
    left: 14px;
    top: 0px;
    width: 1px;
    height: 3px;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
  }
}
