@import '../../mixin';
.picture-solid.icon {
  &:after {
    @include pseudo();
    left: 2px;
    top: 9px;
    width: 12px;
    height: 8px;
    color: white;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    transform: rotate(-45deg);
  }
}
