@import '../../mixin';
.smile-solid.icon {
  &:after {
    @include pseudo();
    right: 4px;
    top: 4px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    color: white;
    background-color: currentColor;
  }
}
