@import '../../mixin';
.watch.icon {
  &:before {
    @include pseudo();
    left: -4px;
    top: 3px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: solid 1px currentColor;
    background-color: white;
  }
}
