@import '../../mixin';
.clock-h9m30.icon {
  &:after {
    @include pseudo();
    top: 7px;
    left: 7px;
    width: 1px;
    height: 6px;
    background-color: currentColor;
    transform-origin: 0% 0%;
  }
}
