.tablet-solid.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 1px;
  width: 15px; 
  height: 14px;
  border-radius: 2px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 2px currentColor;
  border-bottom: solid 3px currentColor;
}
