.paragraph-direction.icon:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 2px;
  border-radius: 0 2px 2px 0;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  border-right: solid 1px currentColor;
}
