.magnify-solid.icon i:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 1px;
  color: white;
  background-color: currentColor;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
