@import '../../mixin';
.arrow-left.icon {
  &:before {
    @include pseudo();
    left: 1px;
    top: -5px;
    width: 10px;
    height: 10px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    transform: rotate(-135deg);
  }
}
