@import '../../mixin';
.laugh-solid.icon {
  &:before {
    @include pseudo();
    left: 4px;
    top: 4px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    color: white;
    background-color: currentColor;
  }
}
