.float-solid.icon:before {
  content: '';
  position: absolute;
  top: 3px;
  left: -5px;
  width: 17px;
  height: 1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  color: white;
  background-color: currentColor;
}
