.bell-solid.icon {
  color: #000;
  position: absolute;
  margin-left: 5px;
  margin-top: 2px;
  width: 9px;
  height: 10px;
  border: solid 1px currentColor;
  background-color: currentColor;
  border-radius: 5px 5px 0 0;
}
