.cloud-download.icon i:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 1px;
  width: 1px;
  height: 7px;
  background-color: currentColor;
  border-left: solid 4px #fff;
  border-right: solid 4px #fff;
}
