.cloud-download.icon {
  color: #000;
  position: absolute;
  margin-left: 1px;
  margin-top: 9px;
  width: 5px;
  height: 6px;
  border-radius: 4px 0 0 4px;
  border-left: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
