@import '../../mixin';
.mouse-solid.icon {
  &:before {
    @include pseudo();
    top: 6px;
    left: -1px;
    width: 13px;
    height: 1px;
    color: white;
    background-color: currentColor;
  }
}
