@import '../../mixin';
.right-double-quote-solid.icon {
  &:before {
    @include pseudo();
    top: 0px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: solid 1px currentColor;
    background-color: currentColor;
  }
}
