@import '../../mixin';
.sun-raindrop.icon {
  &:before {
    @include pseudo();
    left: 3px;
    top: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50% 0 50% 50%;
    transform: rotate(-45deg);
    color: #fff;
    background-color: currentColor;
  }
}
