.sun-raindrop.icon {
  color: #000;
  position: absolute;
  margin-left: 6px;
  margin-top: 6px;
  width: 6px;
  height: 6px;
  border: 1px solid currentColor;
  border-radius: 50%;
  box-shadow: 
    -8px 0 0 -3px currentColor, 
    8px 0 0 -3px currentColor, 
    0 -8px 0 -3px currentColor, 
    0 8px 0 -3px currentColor, 
    -6px -6px 0 -3px currentColor, 
    -6px 6px 0 -3px currentColor, 
    6px -6px 0 -3px currentColor, 
    6px 6px 0 -3px currentColor;
}
