@import '../../mixin';
.arrow-up.icon {
  &:before {
    @include pseudo();
    left: -5px;
    top: 1px;
    width: 10px;
    height: 10px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    transform: rotate(-45deg);
  }
}
