@import '../../mixin';
.magnify.icon {
  i {
    &:after {
      @include pseudo();
      width: 6px;
      height: 1px;
      background-color: currentColor;
      transform: rotate(90deg);
    }
  }
}
