@import '../../mixin';
.clock-h3m30-solid.icon {
  &:before {
    @include pseudo();
    top: 7px;
    left: 7px;
    width: 5px;
    height: 1px;
    color: white;
    background-color: currentColor;
    transform-origin: 0% 0%;
  }
}
