.mobile-solid.icon {
  color: #000;
  position: absolute;
  margin-left: 4px;
  margin-top: 0px;
  width: 12px;
  height: 14px;
  border-radius: 2px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 3px currentColor;
  border-bottom: solid 4px currentColor;
}
