@import '../../mixin';
.wink.icon {
  &:before {
    @include pseudo();
    left: 3px;
    top: 3px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    border-top: solid 1px transparent;
    border-right: solid 1px transparent;
    border-bottom: solid 1px currentColor;
    border-left: solid 1px currentColor;
    transform: rotate(-45deg);
  }
}
