.edit.icon {
  color: #000;
  position: absolute;
  margin-left: 4px;
  margin-top: 7px;
  width: 14px;
  height: 2px;
  border-radius: 1px;
  border: solid 1px currentColor;
  transform: rotate(-45deg);
}
