@import '../../mixin';
.right-double-quote.icon {
  &:after {
    @include pseudo();
    top: 0px;
    left: 9px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: solid 1px currentColor;
  }
}
