.key2.icon {
  color: #000;
  position: absolute;
  margin-left: 10px;
  margin-top: 2px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px currentColor;
  transform: rotate(135deg);
}
