@import '../../mixin';
.refresh.icon {
  &:before {
    @include pseudo();
    left: 1px;
    top: 10px;
    width: 3px;
    height: 3px;
    border-top: solid 1px currentColor;
    border-left: solid 1px currentColor;
    transform: rotate(-22.5deg);
  }
}
