@import '../../mixin';
.export.icon {
  &:after {
    @include pseudo();
    left: 3px;
    top: -5px;
    width: 4px;
    height: 4px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    transform: rotate(-45deg);
  }
}
